%white_link{
    &:link, &:visited{
        color: $white;
    }
    &:hover{
        color: lighten($white, 10%);
    }
}

%title-text{
    font-family: $fancy_font;
    font-weight:bold;
    text-decoration: none;
}
