/* line 2, _typography.scss */
.post-page .other-posts a:link, .post-page .other-posts a:visited {
  color: #ecf0f1;
}
/* line 5, _typography.scss */
.post-page .other-posts a:hover {
  color: white;
}

/* line 10, _typography.scss */
.homepage-page .page h1, .homepage-page .intro h1, .post-page .brand, .posts-list .main-title h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

/* line 1, modules/brand/_extends.scss */
.homepage-page .intro h1 {
  color: #16a085;
}

/* No files to import found in buttons/** */
/* line 1, _design.scss */
a:hover, a:visited, a:active {
  text-decoration: none;
}

/* line 2, layouts/_homepage_page.scss */
.homepage-page .page {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
/* line 6, layouts/_homepage_page.scss */
.homepage-page .page h1 {
  font-size: 5em;
}
/* line 11, layouts/_homepage_page.scss */
.homepage-page .intro {
  background-color: #11181f;
  text-align: center;
}
/* line 14, layouts/_homepage_page.scss */
.homepage-page .intro img {
  margin-top: 30vh;
  border: 6px solid #2c3e50;
}
/* line 18, layouts/_homepage_page.scss */
.homepage-page .intro h1 {
  font-size: 5em;
  position: absolute;
  bottom: 20vh;
  width: 100%;
}
/* line 26, layouts/_homepage_page.scss */
.homepage-page .intro #main-menu {
  width: 100%;
  position: absolute;
  top: 20px;
  text-align: center;
}
/* line 2, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul {
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  float: none;
}
/* line 10, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li {
  border: 2px solid #16a085;
  padding: 10px 20px;
  display: inline-block;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-left: 10px;
}
/* line 16, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li a {
  color: #16a085;
  display: block;
}
/* line 20, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li:hover {
  border-color: #1abc9c;
}
/* line 22, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li:hover a {
  color: #1abc9c;
}
/* line 26, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li.home {
  border-color: #1abc9c !important;
}
/* line 28, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li.home a {
  color: #1abc9c !important;
}
/* line 32, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li.posts {
  border-color: #d35400 !important;
}
/* line 34, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li.posts a {
  color: #d35400 !important;
}
/* line 38, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li.projects {
  border-color: #f39c12 !important;
}
/* line 40, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li.projects a {
  color: #f39c12 !important;
}
/* line 44, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li.about {
  border-color: #9b59b6 !important;
}
/* line 46, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li.about a {
  color: #9b59b6 !important;
}

/* line 1, layouts/_post_pages.scss */
.post-page {
  background: #2c3e50;
  font-size: 1.2em;
}
/* line 4, layouts/_post_pages.scss */
.post-page p, .post-page li {
  font-size: 1.2em;
}
/* line 7, layouts/_post_pages.scss */
.post-page p.lead {
  font-size: 1.3em;
  color: #16a085;
  font-weight: bold;
}
/* line 13, layouts/_post_pages.scss */
.post-page > .container {
  background-color: #11181f;
}
/* line 17, layouts/_post_pages.scss */
.post-page > footer {
  color: #bdc3c7;
  padding: 40px 0;
  font-size: 1.3em;
}
/* line 21, layouts/_post_pages.scss */
.post-page .other-posts {
  color: #bdc3c7;
  padding: 20px 40px;
}
/* line 25, layouts/_post_pages.scss */
.post-page #post-page-header {
  background-color: #2c3e50;
  border-bottom: 1px solid #ccc;
  padding: 0 60px 20px;
}
/* line 29, layouts/_post_pages.scss */
.post-page .left-content {
  padding: 20px 40px;
  background-color: #ecf0f1;
}
/* line 34, layouts/_post_pages.scss */
.post-page .brand {
  float: left;
}
/* line 4, modules/brand/_mixins.scss */
.post-page .brand strong {
  color: #16a085;
  display: block;
  font-size: 5.7em;
  line-height: 1.1em;
  position: relative;
  top: 10px;
  -moz-transition-property: top, color;
  -o-transition-property: top, color;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
/* line 14, modules/brand/_mixins.scss */
.post-page .brand span {
  font-size: 2.25em;
  color: #e67e22;
  position: relative;
  top: 0px;
  -moz-transition-property: top, color;
  -o-transition-property: top, color;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
/* line 22, modules/brand/_mixins.scss */
.post-page .brand a:hover {
  text-decoration: none;
}
/* line 24, modules/brand/_mixins.scss */
.post-page .brand a:hover strong {
  top: 45px;
  color: #e67e22;
}
/* line 29, modules/brand/_mixins.scss */
.post-page .brand a:hover span {
  top: -70px;
  color: #16a085;
}
/* line 38, layouts/_post_pages.scss */
.post-page .post-date {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.3em;
  text-align: right;
}
/* line 8, modules/post_header/_mixins.scss */
.post-page .post-external-links a {
  font-size: 1em;
  margin-left: 8px;
  color: #16a085;
}
/* line 2, modules/main_menu/_mixins.scss */
.post-page #main-menu ul {
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  float: right;
}
/* line 10, modules/main_menu/_mixins.scss */
.post-page #main-menu ul li {
  border: 2px solid #16a085;
  padding: 10px 20px;
  display: inline-block;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-left: 10px;
}
/* line 16, modules/main_menu/_mixins.scss */
.post-page #main-menu ul li a {
  color: #16a085;
  display: block;
}
/* line 20, modules/main_menu/_mixins.scss */
.post-page #main-menu ul li:hover {
  border-color: #1abc9c;
}
/* line 22, modules/main_menu/_mixins.scss */
.post-page #main-menu ul li:hover a {
  color: #1abc9c;
}
/* line 26, modules/main_menu/_mixins.scss */
.post-page #main-menu ul li.home {
  border-color: #1abc9c !important;
}
/* line 28, modules/main_menu/_mixins.scss */
.post-page #main-menu ul li.home a {
  color: #1abc9c !important;
}
/* line 32, modules/main_menu/_mixins.scss */
.post-page #main-menu ul li.posts {
  border-color: #d35400 !important;
}
/* line 34, modules/main_menu/_mixins.scss */
.post-page #main-menu ul li.posts a {
  color: #d35400 !important;
}
/* line 38, modules/main_menu/_mixins.scss */
.post-page #main-menu ul li.projects {
  border-color: #f39c12 !important;
}
/* line 40, modules/main_menu/_mixins.scss */
.post-page #main-menu ul li.projects a {
  color: #f39c12 !important;
}
/* line 44, modules/main_menu/_mixins.scss */
.post-page #main-menu ul li.about {
  border-color: #9b59b6 !important;
}
/* line 46, modules/main_menu/_mixins.scss */
.post-page #main-menu ul li.about a {
  color: #9b59b6 !important;
}
@media (max-width: 992px) {
  /* line 54, layouts/_post_pages.scss */
  .post-page .brand {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  /* line 41, modules/brand/_mixins.scss */
  .post-page .brand strong {
    font-size: 2.25em;
    display: inline;
    top: 0;
    -moz-transition-property: none;
    -o-transition-property: none;
    -webkit-transition-property: none;
    transition-property: none;
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    -webkit-transition-duration: 0;
    transition-duration: 0;
    color: #16a085;
    text-shadow: 1px 1px 0px #34495e;
  }
  /* line 51, modules/brand/_mixins.scss */
  .post-page .brand span {
    -moz-transition-property: none;
    -o-transition-property: none;
    -webkit-transition-property: none;
    transition-property: none;
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    -webkit-transition-duration: 0;
    transition-duration: 0;
    color: #16a085;
    text-shadow: 1px 1px 0px #34495e;
  }
  /* line 58, modules/brand/_mixins.scss */
  .post-page .brand a:hover {
    text-decoration: none;
  }
  /* line 60, modules/brand/_mixins.scss */
  .post-page .brand a:hover strong {
    top: 0;
    color: #1abc9c;
    text-shadow: 1px 1px 0px #34495e;
  }
  /* line 65, modules/brand/_mixins.scss */
  .post-page .brand a:hover span {
    top: 0;
    color: #1abc9c;
    text-shadow: 1px 1px 0px #34495e;
  }
  /* line 57, layouts/_post_pages.scss */
  .post-page #post-page-header {
    padding-bottom: 5px;
  }
  /* line 55, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul {
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
  }
  /* line 60, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul li {
    padding: 5px 15px;
  }
}

/* line 2, layouts/_posts_list_page.scss */
.posts-list .left-content {
  min-height: 75vh;
}
/* line 5, layouts/_posts_list_page.scss */
.posts-list .main-title h1 {
  color: #2c3e50;
  font-size: 5em;
  text-align: center;
}
/* line 12, layouts/_posts_list_page.scss */
.posts-list .post-item {
  margin-bottom: 20px;
}
/* line 3, modules/post_box/_mixins.scss */
.posts-list .post-item h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.23em;
  margin-bottom: 5px;
}
/* line 11, modules/post_box/_mixins.scss */
.posts-list .post-item a {
  color: #16a085;
}
/* line 15, modules/post_box/_mixins.scss */
.posts-list .post-item .post-item-data {
  margin-bottom: 10px;
  font-style: italic;
}
/* line 18, modules/post_box/_mixins.scss */
.posts-list .post-item .post-item-data a {
  font-style: normal;
  font-weight: bold;
}
/* line 24, modules/post_box/_mixins.scss */
.posts-list .post-item p {
  color: #2c3e50;
}
/* line 2, modules/main_menu/_mixins.scss */
.posts-list #main-menu ul {
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  float: right;
}
/* line 10, modules/main_menu/_mixins.scss */
.posts-list #main-menu ul li {
  border: 2px solid #16a085;
  padding: 10px 20px;
  display: inline-block;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-left: 10px;
}
/* line 16, modules/main_menu/_mixins.scss */
.posts-list #main-menu ul li a {
  color: #16a085;
  display: block;
}
/* line 20, modules/main_menu/_mixins.scss */
.posts-list #main-menu ul li:hover {
  border-color: #1abc9c;
}
/* line 22, modules/main_menu/_mixins.scss */
.posts-list #main-menu ul li:hover a {
  color: #1abc9c;
}
/* line 26, modules/main_menu/_mixins.scss */
.posts-list #main-menu ul li.home {
  border-color: #1abc9c !important;
}
/* line 28, modules/main_menu/_mixins.scss */
.posts-list #main-menu ul li.home a {
  color: #1abc9c !important;
}
/* line 32, modules/main_menu/_mixins.scss */
.posts-list #main-menu ul li.posts {
  border-color: #d35400 !important;
}
/* line 34, modules/main_menu/_mixins.scss */
.posts-list #main-menu ul li.posts a {
  color: #d35400 !important;
}
/* line 38, modules/main_menu/_mixins.scss */
.posts-list #main-menu ul li.projects {
  border-color: #f39c12 !important;
}
/* line 40, modules/main_menu/_mixins.scss */
.posts-list #main-menu ul li.projects a {
  color: #f39c12 !important;
}
/* line 44, modules/main_menu/_mixins.scss */
.posts-list #main-menu ul li.about {
  border-color: #9b59b6 !important;
}
/* line 46, modules/main_menu/_mixins.scss */
.posts-list #main-menu ul li.about a {
  color: #9b59b6 !important;
}

/* No files to import found in fonts/* */
