/* line 2, _typography.scss */
.post-page > footer a:link, .post-page .right-sidebar a:link, .post-page > footer a:visited, .post-page .right-sidebar a:visited {
  color: #ecf0f1;
}
/* line 5, _typography.scss */
.post-page > footer a:hover, .post-page .right-sidebar a:hover {
  color: white;
}

/* line 10, _typography.scss */
.homepage-page .page h1, .homepage-page .intro h1, .post-page .brand, .posts-page .page > h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

/* line 1, modules/brand/_extends.scss */
.homepage-page .intro h1, .post-page .brand strong, .post-page .brand a:hover span {
  color: #16a085;
}

/* line 5, modules/brand/_extends.scss */
.post-page .brand span, .post-page .brand a:hover strong {
  color: #2c3e50;
}

/* No files to import found in buttons/** */
/* line 1, _design.scss */
a:hover, a:visited, a:active {
  text-decoration: none;
}

/* line 2, layouts/_homepage_page.scss */
.homepage-page .page {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
/* line 6, layouts/_homepage_page.scss */
.homepage-page .page h1 {
  font-size: 5em;
}
/* line 11, layouts/_homepage_page.scss */
.homepage-page .intro {
  background-color: #11181f;
  text-align: center;
}
/* line 14, layouts/_homepage_page.scss */
.homepage-page .intro img {
  margin-top: 30vh;
  border: 6px solid #2c3e50;
}
/* line 18, layouts/_homepage_page.scss */
.homepage-page .intro h1 {
  font-size: 5em;
  position: absolute;
  bottom: 20vh;
  width: 100%;
}
/* line 26, layouts/_homepage_page.scss */
.homepage-page .intro #main-menu {
  background-color: #2c3e50;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
/* line 2, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul {
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 8, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li {
  background-color: #16a085;
  display: block;
}
/* line 11, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li a {
  color: #bdc3c7;
  display: block;
}
/* line 14, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li a:hover {
  color: #ecf0f1;
}
/* line 18, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li:hover {
  background-color: #2ecc71;
}
/* line 57, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul {
  display: flex;
  position: relative;
}
/* line 60, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li {
  flex: 1 1 auto;
  text-align: center;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
/* line 65, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li a {
  padding: 1rem 0;
}
/* line 68, modules/main_menu/_mixins.scss */
.homepage-page .intro #main-menu ul li:hover {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

/* line 1, layouts/_post_pages.scss */
.post-page {
  background: #2c3e50;
}
/* line 4, layouts/_post_pages.scss */
.post-page > .container {
  background-color: #11181f;
  border-left: 1px solid #CCC3BA;
}
/* line 9, layouts/_post_pages.scss */
.post-page > footer {
  background-color: #080b0e;
  color: #bdc3c7;
}
/* line 12, layouts/_post_pages.scss */
.post-page .right-sidebar {
  color: #bdc3c7;
}
/* line 17, layouts/_post_pages.scss */
.post-page #post-page-header {
  background: url(../images/ricepaper2.png);
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
/* line 21, layouts/_post_pages.scss */
.post-page .left-content {
  padding-top: 20px;
  background: url("../images/crossword.png") repeat 0 0;
}
/* line 3, modules/brand/_mixins.scss */
.post-page .brand strong {
  display: block;
  font-size: 5.7em;
  line-height: 1;
  position: relative;
  top: 10px;
  -moz-transition-property: top, color;
  -o-transition-property: top, color;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
/* line 13, modules/brand/_mixins.scss */
.post-page .brand span {
  font-size: 2.25em;
  position: relative;
  top: 0px;
  -moz-transition-property: top, color;
  -o-transition-property: top, color;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
/* line 21, modules/brand/_mixins.scss */
.post-page .brand a:hover {
  text-decoration: none;
}
/* line 23, modules/brand/_mixins.scss */
.post-page .brand a:hover strong {
  top: 45px;
}
/* line 28, modules/brand/_mixins.scss */
.post-page .brand a:hover span {
  top: -70px;
}
/* line 30, layouts/_post_pages.scss */
.post-page .post-header-top-links {
  margin-top: 45px;
}
/* line 9, modules/post_header/_mixins.scss */
.post-page .post-header-top-links a {
  font-size: 1em;
  margin-left: 8px;
  color: #2c3e50;
}
@media (min-width: 992px) {
  /* line 2, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul {
    font-family: "Oswald", sans-serif;
    font-size: 1.3em;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* line 8, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul li {
    background-color: #16a085;
    display: block;
  }
  /* line 11, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul li a {
    color: #bdc3c7;
    display: block;
  }
  /* line 14, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul li a:hover {
    color: #ecf0f1;
  }
  /* line 18, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul li:hover {
    background-color: #2ecc71;
  }
  /* line 26, modules/main_menu/_mixins.scss */
  .post-page #main-menu li {
    padding: 1.3em 0.5em;
    width: 50%;
    float: left;
    text-align: center;
    background-color: #2c3e50 !important;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
  /* line 34, modules/main_menu/_mixins.scss */
  .post-page #main-menu li a {
    color: #ecf0f1 !important;
  }
  /* line 37, modules/main_menu/_mixins.scss */
  .post-page #main-menu li:first-child {
    background-color: #1abc9c !important;
  }
  /* line 40, modules/main_menu/_mixins.scss */
  .post-page #main-menu li:nth-child(2) {
    background-color: #d35400 !important;
  }
  /* line 43, modules/main_menu/_mixins.scss */
  .post-page #main-menu li:nth-child(3) {
    background-color: #f39c12 !important;
  }
  /* line 46, modules/main_menu/_mixins.scss */
  .post-page #main-menu li:last-child {
    background-color: #9b59b6 !important;
  }
  /* line 49, modules/main_menu/_mixins.scss */
  .post-page #main-menu li:hover {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
}
@media (max-width: 992px) {
  /* line 37, modules/brand/_mixins.scss */
  .post-page .brand strong {
    font-size: 2.25em;
    display: inline;
    top: 0;
    -moz-transition-property: none;
    -o-transition-property: none;
    -webkit-transition-property: none;
    transition-property: none;
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    -webkit-transition-duration: 0;
    transition-duration: 0;
    color: #2c3e50;
    text-shadow: 1px 1px 0px #34495e;
  }
  /* line 47, modules/brand/_mixins.scss */
  .post-page .brand span {
    -moz-transition-property: none;
    -o-transition-property: none;
    -webkit-transition-property: none;
    transition-property: none;
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    -webkit-transition-duration: 0;
    transition-duration: 0;
    color: #2c3e50;
    text-shadow: 1px 1px 0px #34495e;
  }
  /* line 54, modules/brand/_mixins.scss */
  .post-page .brand a:hover {
    text-decoration: none;
  }
  /* line 56, modules/brand/_mixins.scss */
  .post-page .brand a:hover strong {
    top: 0;
    color: #2c3e50;
    text-shadow: 1px 1px 0px #34495e;
  }
  /* line 61, modules/brand/_mixins.scss */
  .post-page .brand a:hover span {
    top: 0;
    color: #2c3e50;
    text-shadow: 1px 1px 0px #34495e;
  }
  /* line 44, layouts/_post_pages.scss */
  .post-page .post-header-top-links {
    margin-top: 5px;
  }
  /* line 47, layouts/_post_pages.scss */
  .post-page #post-page-header {
    padding-bottom: 5px;
  }
  /* line 2, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul {
    font-family: "Oswald", sans-serif;
    font-size: 1.3em;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* line 8, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul li {
    background-color: #16a085;
    display: block;
  }
  /* line 11, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul li a {
    color: #bdc3c7;
    display: block;
  }
  /* line 14, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul li a:hover {
    color: #ecf0f1;
  }
  /* line 18, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul li:hover {
    background-color: #2ecc71;
  }
  /* line 57, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul {
    display: flex;
    position: relative;
  }
  /* line 60, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul li {
    flex: 1 1 auto;
    text-align: center;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
  /* line 65, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul li a {
    padding: 1rem 0;
  }
  /* line 68, modules/main_menu/_mixins.scss */
  .post-page #main-menu ul li:hover {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
}
@media (max-width: 768px) {
  /* line 56, layouts/_post_pages.scss */
  .post-page .brand {
    width: 100%;
    text-align: center;
  }
  /* line 59, layouts/_post_pages.scss */
  .post-page .post-header-top-links {
    float: none !important;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    margin-top: 0;
  }
}

/* line 1, layouts/_posts_page.scss */
.posts-page {
  background-color: #ecf0f1;
}
/* line 3, layouts/_posts_page.scss */
.posts-page .page {
  height: 100vh;
  position: relative;
}
/* line 6, layouts/_posts_page.scss */
.posts-page .page > h1 {
  color: #16a085;
  font-size: 5em;
}
/* line 12, layouts/_posts_page.scss */
.posts-page .post-box {
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
  min-height: 300px;
}
/* line 6, modules/post_box/_mixins.scss */
.posts-page .post-box a {
  color: #ecf0f1;
}
/* line 9, modules/post_box/_mixins.scss */
.posts-page .post-box h1 {
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 15px;
  font-size: 1em;
  line-height: 1.23em;
  margin: 0;
  background-color: #2c3e50;
}
/* line 19, modules/post_box/_mixins.scss */
.posts-page .post-box p {
  padding: 20px 15px;
  color: #2c3e50;
}

/* No files to import found in fonts/* */
