/* line 2, _typography.scss */
body > footer a:link, .right-sidebar a:link, body > footer a:visited, .right-sidebar a:visited {
  color: #eee;
}
/* line 5, _typography.scss */
body > footer a:hover, .right-sidebar a:hover {
  color: white;
}

/* line 1, modules/footer/_mixin.scss */
body > footer {
  background-color: rgba(87, 87, 87, 0.5);
  border-top: 1px solid #555;
  color: #aaa;
}

/* line 1, modules/sidebar/__mixin.scss */
.right-sidebar {
  color: #aaa;
}

/* No files to import found in ui_patterns/*\/** */
/* No files to import found in buttons/** */
/* line 1, layouts/_base.scss */
body {
  background: url("../images/irongrip.png") repeat 0 0;
}
/* line 2, layouts/_base.scss */
body > .container {
  background-color: rgba(2, 2, 2, 0.4);
}

/* line 8, layouts/_base.scss */
.left-content {
  background: url("../images/crossword.png") repeat 0 0;
}

/* No files to import found in fonts/* */
