{% extends 'base_page.jinja2' %}

{% block body_class %}post-page posts-list{% endblock %}

{% block page_content %}
  <header class="main-title">
    <h1><i class="fa fa-newspaper-o"></i> About Me</h1>
  </header>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <article class="post-item">
            <p>I have been doing a lot of things. A little bit here, a little bit there: From Java, C# to Python and Javascript. In the end I decided to focus my career into frontend (where everything is more fun).</p>
<p>Like most of us, I have many profiles in several sites. Here&#8217;s a small list of websites and badges to give you a general idea</p>
<div class="row">
<div class="col-md-6">
                      <script src="//platform.linkedin.com/in.js" type="text/javascript"></script><br />
                      <script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/juan-pablo-leano-martinet/4b/902/937" data-format="inline" data-related="false"></script>
                    </div>
<div class="col-md-6">
                      <iframe src="http://githubbadge.appspot.com/pleasedontbelong?a=0" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
                    </div>
<div class="col-md-6">
                      <a href="http://stackoverflow.com/users/361427/pleasedontbelong"><br />
                        <img src="http://stackoverflow.com/users/flair/361427.png?theme=clean" width="208" height="58" alt="profile for pleasedontbelong at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for pleasedontbelong at Stack Overflow, Q&amp;A for professional and enthusiast programmers"><br />
                        </a>
                    </div>
<div class="col-md-6">
                      <a class="twitter-timeline" href="https://twitter.com/pablo_amnesiac" data-widget-id="543757836178964480">Tweets by @pablo_amnesiac</a><br />
                      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
      </article>
    </div>
  </div>
{% endblock %}
