{% extends 'base.jinja2' %}

{% block body_class %}homepage-page{% endblock %}

{% block body_content %}
<div class="page intro">
  <nav id="main-menu" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    <ul class="menu">
      <li class="posts">
        <a href="{{ url('posts-list')}}">Posts</a>
      </li>
      <li class="projects">
        <a href="{{ url('projects-list')}}">Projects</a>
      </li>
      <li class="about">
        <a href="{{ url('about-me') }}">About Me</a>
      </li>
    </ul>
  </nav>
  <img src="http://www.gravatar.com/avatar/fe876b7f3f32966ceb8b4977feded6a7?s=200" class="img-circle"/>
  <h1>Pablo Leano Martinet</h1>
</div>
<div class="page thumbs">
  <div class="row">
    <div class="col-md-4 posts">
      <i class="fa fa-newspaper-o"></i>
      <h2>Posts</h2>
      <p class="lead">I've been writing a few posts over the last years, some of them got lost while migrating this blog, and some of them are still in my head.</p>
    </div><!-- /.col-md-4 -->
    <div class="col-md-4 projects">
      <i class="fa fa-wrench"></i>
      <h2>Projects</h2>
      <p class="lead">I don't have a big project, more like small tests, POCs and sometimes a few tools/sites that I create for friends and family.</p>
    </div><!-- /.col-md-4 -->
    <div class="col-md-4 about">
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <h2>About Me</h2>
      <p class="lead">Just a few links and badges to some of my online profiles.</p>
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->
</div>
<div class="page features">
  <!-- START THE FEATURETTES -->
  <div class="row featurette">
    <div class="col-md-6">
      <h2 class="featurette-heading">Github Repositories <span class="text-muted">All my code is here.</span></h2>
      <p class="lead">All the tests/projects I wrote, even the content of this blog, lives in github </p>
    </div>
    <div class="col-md-6">
      <a href="https://github.com/pleasedontbelong/">
        <img src="https://cdn.svgporn.com/logos/github-icon.svg" alt="Github" class="github">
      </a>
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-6 col-md-push-6">
      <h2 class="featurette-heading">My Stackoverflow. <span class="text-muted">Wroking for free.</span></h2>
      <p class="lead">It's a small hobby I have, to read questions on StackOverflow and maybe answer them if I know the answer. It allows me to see how people is using the technologies and the problems the encounter.</p>
    </div>
    <div class="col-md-6 col-md-pull-6">
      <a href="http://stackoverflow.com/users/361427/pleasedontbelong">
        <img src="https://cdn.svgporn.com/logos/stackoverflow.svg" alt="Stack Overflow" class="stackoverflow">
      </a>
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-6">
      <h2 class="featurette-heading">Follow Me.</h2>
      <p class="lead">I'm not a frequent twitter guy. I do read a lot of tweets about programming, and I tweet or retweet everything I find interesting.</p>
    </div>
    <div class="col-md-6">
      <a href="https://twitter.com/pablo_amnesiac">
        <img src="https://cdn.svgporn.com/logos/twitter.svg" alt="Twitter" class="twitter">
      </a>
      
    </div>
  </div>
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>Pablo LEANO · <a href="https://github.com/pleasedontbelong/pabloleanomartinet.com-static">See this on github</a> · <a href="https://fr.linkedin.com/in/juan-pablo-leano-martinet-9379024b">Linkedin</a></p>
  </footer>
</div>
  
{% endblock %}
