boto==2.34.0
Django==1.8
django-extensions==1.4.9
django-medusa==0.3.0
django-pipeline==1.4.2
django-storages==1.1.8
git+git://github.com/jbalogh/jingo.git@f8472bcac6ba206271135021b65c25db553297b7
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
ipython==3.1.0
django-model-utils==2.0

# production
gunicorn==19.3.0
setproctitle
