{% extends "website/includes/base.html" %}
{% block title %}Botify Clients{% endblock %}
{% block body_class %}clients-page{% endblock %}
{% block content %}
  
    <div class="headline-bg clients-headline-bg">
    </div><!--//headline-bg-->         
    
    <section class="promo section section-on-bg">
        <div class="container text-center">                
            <h2 class="title">We Care About <span class="highlight">Your Success</span></h2>
            <p class="intro">Some of the world's most respected companies trust Botify</p>
            <p><a class="btn btn-cta btn-cta-primary" href="/#testimonials">Read the Testimonials</a></p>   
        </div><!--//container-->
        <div class="container text-center invite-scroll-container">
            <a href="#begin-content" id="invite-scroll"><i class="fa fa-angle-down"></i></a>
        </div>
    </section><!--//promo-->
    
    <!-- ******Features Section****** -->       
    <div class="sections-wrapper" id="begin-content">   
         <!-- ******Press Section****** -->
        <section class="section clients press">
             <div class="container text-center">    
                <ul class="press-list list-inline row no-opacity">
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/expedia.png") }}" alt="Expedia" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/hotels.png") }}" alt="Hotels" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4 xs-break"><img class="img-responsive" src="{{ static("images/partners/tomshardware.png") }}" alt="Tom's Hardware" /></li>                   
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/homeaway.png") }}" alt="Home Away" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/blablacar.png") }}" alt="BlaBlaCar" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/dailymotion.png") }}" alt="Dailymotion" /></li>                  
                </ul>
                <ul class="press-list list-inline row">
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/elle.png") }}" alt="elle" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/refinery29.png") }}" alt="Refinery 29" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/venere.png") }}" alt="Venere" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/axelspringer.png") }}" alt="Axel Springer" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/aufeminin.png") }}" alt="Au Féminin" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/tomsguide.png") }}" alt="Tom's Guide" /></li>
                </ul>
                <ul class="press-list list-inline row">
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/lagardereactive.png") }}" alt="Lagardere Active" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/leparisien.png") }}" alt="Le Parisien" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/3suisses.png") }}" alt="3 Suisses" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/laredoute.png") }}" alt="La Redoute" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/rueducommerce.png") }}" alt="Rue du commerce" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/lexpress.png") }}" alt="L'Express" /></li>
                </ul>
                <ul class="press-list list-inline row">
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/livescience.png") }}" alt="Live Science" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/laptopmag.png") }}" alt="Laptop mag" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/businessnewsdaily.png") }}" alt="businessnewsdaily" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/purch.png") }}" alt="Purch media" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/easyvoyage.png") }}" alt="Easy Voyage" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/promovacances.png") }}" alt="Promo Vacances" /></li>
                </ul>
                <ul class="press-list list-inline row">
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/tf1.png") }}" alt="TF1" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/cuisineaz.png") }}" alt="Cuisine AZ" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/marmiton.png") }}" alt="Marmiton" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/melty.png") }}" alt="Melty" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/britishcouncil.png") }}" alt="British Council" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/prismamedia.png") }}" alt="Prisma Media" /></li>
                </ul>
                <ul class="press-list list-inline row">
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/lepoint.png") }}" alt="Le Point" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/casadellibro.png") }}" alt="Casa del libro" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/viadeo.png") }}" alt="Viadeo" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/sarenza.png") }}" alt="Sarenza" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/lacentrale.png") }}" alt="La Centrale" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/lafayette.png") }}" alt="Galeries Lafayette" /></li>
                </ul>
                <ul class="press-list list-inline row">
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/assurland.png") }}" alt="Assurland" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/boulanger.png") }}" alt="Boulanger" /></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/wat.png") }}" alt="Wat tv" /></li>
                </ul>
                <!-- partners list -->
                <ul class="press-list list-inline row">
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/synodiance.png") }}" alt="Synodiance" /></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/labelium.png") }}" alt="Labelium" /></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/awe.png") }}" alt="Awe" /></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/activis.png") }}" alt="Activis" /></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/searchforesight.png") }}" alt="Search Foresight" /></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/netbooster.png") }}" alt="Netbooster" /></a></li>
                </ul> 
                <ul class="press-list list-inline row">
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/crawlerzone.png") }}" alt="Crawler Zone" /></a></li>
                    <li class="col-md-2 col-sm-2 col-xs-4"><img class="img-responsive" src="{{ static("images/partners/webguidepartner.png") }}" alt="Webguide Partner" /></a></li>
                </ul>       
             </div><!--//container-->
         </section><!--//press-->            
    </div>

    <!-- ******Steps Section****** --> 
    <section class="steps section">
        <div class="container">
            <h2 class="title text-center">3 Simple Steps to Get Started with Botify</h2>
            <div class="row">
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">1</span><br /><span class="text">SIGN UP FOR FREE</span></h3>
                     <p>No Credit Card Required. Analyze up to 100k URLs on your website and enjoy the report and URL Explorer during the next 30 days. It’s free, with tons of Botify features inside.</p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">2</span><br /><span class="text">WE DO EVERYTHING FOR YOU</span></h3>
                     <p>We crawl, we track down problems, we generate your report. No code lines. No IT guys. No desktop software limitations. As simple as that.</p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">3</span><br /><span class="text">START OPTIMIZING</span></h3>
                     <p>Access all your SEO actionable data and discover all sections of your report. If this isn’t enough for you, you can challenge our URL Explorer with advanced searches and criteria.</p>
                 </div><!--//step-->
            </div><!--//row-->
            
            <div class="text-center"><a class="btn btn-cta btn-cta-primary" href="{{ signup_url }}">Get Started, It's Free!</a></div>
            
        </div><!--//container-->        
    </section><!--//steps-->
{% endblock %}
