{% extends 'base.jinja2' %}

{% block content %}
  <div class="col-md-8 right-sidebar">
    <div class="row">
      <article class="post-45 post col-md-12" >

        <div class="post-article post-title">
          <h1 class="title icon-title">
            {% block post_title %}{% endblock %}
            JS/CSS workflow using Bundler, Bower and Guard in a Django project
          </h1>
        </div>
        <div class="post-article">
          {% block post_date %}
            <div class="line"> <span> On March 7, 2014 by {{ meta.AUTHOR }} </span> </div>
          {% endblock %}
          {% block post_content %}{% endblock %}

          <div class="clear"></div>

          <div class="post-info">
            <div class="left"> <a href="http://www.pabloleanomartinet.com/category/posts/" rel="category tag">{{ meta.CATEGORY }}</a> </div>
          </div>
          <div class="clear"></div>
        </div>

      </article>
    </div>
  </div>
{% endblock %}
