{% set title = "Botify Features" %}
{% set description = "Increase your SEO traffic and revenue with great actionable data" %}
{% extends "website/includes/base.html" %}
{% set current_page = "features" %}
{% block body_class %}feature-page{% endblock %}
{% block content %}
   <div class="headline-bg features-headline-bg">
    </div><!--//headline-bg-->         
    
    <!-- ******Video Section****** --> 
    <section class="features-video section section-on-bg">
        <div class="container text-center">          
            <h2 class="title">Increase your <span class="highlight">SEO traffic</span> and <span class="highlight">revenue</span><br>with great actionable data</h2>
            <div class="video-container">
                <div class="section main-media">
                    <div class="media-content" id="media-image">
                        <p>
                            <strong>How Can Botify Help You?</strong><br><br>
                            Meet Adam and discover why Botify is his best ally to answer all his needs on a daily basis.
                        </p>
                        <a class="layer video-layer wistia-popover[height=450,playerColor=7b796a,width=800]" href="//fast.wistia.net/embed/iframe/ls21fbo2qx?popover=true">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-play fa-stack-1x"></i>
                            </span>
                        </a>
                        <img alt="" src="{{ static("images/screens/adam-video-2.png") }}" class="illustration" width="800" height="450">
                    </div>
                    <div class="media-content" id="media-video">
                    </div>
                </div>
            </div><!--//video-container--> 
        </div><!--//container-->
        <div class="container text-center invite-scroll-container">
            <a href="#begin-content" id="invite-scroll"><i class="fa fa-angle-down"></i></a>
        </div>
    </section><!--//feature-video-->
    
    <!-- ******Features Section****** -->       
    <section class="features-tabbed section" id="begin-content">
        <div class="container">
            <h2 class="title text-center">Botify is the most powerful &amp; comprehensive crawler and analysis tool for your website</h2>
            <div class="row">
                <div class=" text-center col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs text-center" role="tablist">
                        <li class="active"><a href="#feature-1" role="tab" data-toggle="tab"><i class="fa fa-signal"></i><br /><span class="hidden-sm hidden-xs">Analyze:<br>Fast and Large</span></a></li>
                        <li><a href="#feature-2" role="tab" data-toggle="tab"><i class="fa fa-share-alt"></i><br /><span class="hidden-sm hidden-xs">Share<br>and Collaborate</span></a></li>
                        <li><a href="#feature-3" role="tab" data-toggle="tab"><i class="fa fa-tachometer"></i><br /><span class="hidden-sm hidden-xs">Track<br>and Compare</span></a></li>
                        <li class="last"><a href="#feature-4" role="tab" data-toggle="tab"><i class="fa fa-gamepad"></i><br /><span class="hidden-sm hidden-xs">Geek<br>Settings</span></a></li>
                    </ul><!--//nav-tabs-->
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="feature-1">
                            <h3 class="title sr-only">Analyze: Fast and Large</h3>                                    
                            <figure class="figure text-center">
                                <img class="img-responsive" src="{{ static("images/screens/globaloverview.jpg") }}" alt="Report Overview" />
                                <figcaption class="figure-caption">(Screenshot: Report Overview) </figcaption>
                            </figure>
                            <div class="desc text-left">
                                <h4>Botify handles really really large datasets at a really really fast pace</h4>
                                <p>Botify is a cloud-based solution, removing all desktop software limitations: it can run any time, you can check your reports anywhere, and — thanks to our unlimited scaling architecture — launch powerful computing even from the tiniest laptop.</p>
                                <h4>Really really Large</h4>
                                <p>Analyze as many URLs as you want for a single website (if you’re the SEO Manager for Wikipedia, you may drop us an email… Botify record: 150M URLs).</p>
                                <p>Use Botify on any website in the world. Your website is cool. Maybe your competitors' are not bad either.</p>
                                <p>Schedule analyses as often as you want to monitor your website's actual current performance and monitor progress.</p>
                                <h4>And really really Fast</h4>
                                <p>Botify’s crawl speed can be adjusted between 1 and 500 URLs per second! (no need to worry about your website's availability, we’ll track your servers' response time for you).</p>
                                <p>We’ve optimized every step of the report generation process, meaning that we generate your report in a few seconds to a few hours for very large websites (pretty cool, what do you say?).</p>
                                <h4>How fast can you get your Botify analysis?</h4>
                                <p>Just a few examples (you define the crawler’s speed in the advanced settings):</p>
                                <div class="table-responsive">
                                    <table class="tg">
                                      <tr>
                                        <td class="tg-wr85">Nb of URLs on the website</td>
                                        <td class="tg-zlxb bg">1,000</td>
                                        <td class="tg-zlxb">10,000</td>
                                        <td class="tg-zlxb bg">100,000</td>
                                        <td class="tg-zlxb">1,000,000</td>
                                        <td class="tg-zlxb bg">5,000,000</td>
                                        <td class="tg-mmwt"><a href="/contact/">More?</a></td>
                                      </tr>
                                      <tr>
                                        <td class="tg-wr85">Botify Crawler's speed</td>
                                        <td class="tg-s6z2 bg"></td>
                                        <td class="tg-s6z2">5 URLs / sec<br></td>
                                        <td class="tg-s6z2 bg">10 URLs / sec<br></td>
                                        <td class="tg-s6z2">50 URLs / sec<br></td>
                                        <td class="tg-s6z2 bg">100 URLs / sec<br></td>
                                        <td class="tg-s6z2"></td>
                                      </tr>
                                      <tr class="bg">
                                        <td class="tg-wr85">Crawling time</td>
                                        <td class="tg-s6z2 bg">+/- 3 minutes</td>
                                        <td class="tg-s6z2">+/- 30 minutes</td>
                                        <td class="tg-s6z2 bg">Less than 3 hours</td>
                                        <td class="tg-s6z2">Less than 6 hours</td>
                                        <td class="tg-s6z2 bg">+/-14 hours</td>
                                        <td class="tg-mmwt"><a href="/contact/">Request a demo</a></td>
                                      </tr>
                                    </table>
                                </div>
                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                        <div class="tab-pane" id="feature-2">
                            <h3 class="title sr-only">Share and Collaborate</h3>                                    
                            <figure class="figure text-center">
                                <img class="img-responsive" src="{{ static("images/screens/typing.jpg") }}" alt="The Botify Team" />
                                <figcaption class="figure-caption">(Photography: The Botify Team) </figcaption>
                            </figure>
                            <div class="desc text-left">
                                <h4>You’ll never work alone.</h4>
                                <p>As SEO Manager, you are a team player dealing with many departments within your organization or with third-party consultants. You also work on different projects, meaning that a perfect communication is key to your success.</p>
                                <p>We created the Team features just for you, and your (potentially extended) team. Sharing and reporting made easy.</p>
                                <h4>With Botify, you can:</h4>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-star"></i>Share all sections of any reports simply by sending the appropriate URL link like: <code>www.botify.com/user/website.com/report/</code>. Easy.</li>
                                    <li><i class="fa fa-star"></i>Export any indicator or set of URLs of your analyses (eg: HTTP status code, URLs with duplicate HTML tags, URLs with only 1 follow incoming link, etc.).</li>
                                    <li><i class="fa fa-star"></i>Grant access to the application to team members with the appropriate authorization level for each project:
                                        <ul>
                                            <li><strong>Guest:</strong> guest rights allow to view reports and use the URL Explorer.</li>
                                            <li><strong>Admin:</strong> admin rights allow to edit a project and start new analyses.</li>
                                            <li><strong>Owner:</strong> owner rights include Project editing, Team management and billing. There is only one owner per project.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                        <div class="tab-pane" id="feature-3">
                            <h3 class="title sr-only">Track and Compare</h3>
                            <figure class="figure text-center">
                                <img class="img-responsive" src="{{ static("images/screens/structure.jpg") }}" alt="Comparison over time" />
                                <figcaption class="figure-caption">(Screenshot: Comparison over time) </figcaption>
                            </figure>
                            <div class="desc text-left">
                                <h4>Never stop working, keep tracking optimizations</h4>
                                <p>SEO is an endless marathon. You need to validate your optimizations and track bugs on your website. Botify does the painful tracking and monitoring for you. You just benefit from the right input at the right moment. </p>
                                <h4>With Botify, you can:</h4>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-star"></i>Track every change on your website</li>
                                    <li><i class="fa fa-star"></i>Compare performance over time</li>
                                    <li><i class="fa fa-star"></i>Schedule a recurring analysis: every day, week or month</li>
                                    <li><i class="fa fa-star"></i>Get access to your latest analysis data while navigating your website, with our awesome Chrome plugin</li>
                                    <li><i class="fa fa-star"></i>Keep posted about your competitors' websites' changes with scheduled analyses</li>
                                </ul>
                            </div><!--//desc-->                                    
                        </div><!--//tab-pane-->
                        <div class="tab-pane" id="feature-4">
                            <h3 class="title sr-only">Geek Settings</h3>                                    
                            <figure class="figure text-center">
                                <img class="img-responsive" src="{{ static("images/screens/crawldistribution.jpg") }}" alt="Advanced settings" />
                                <figcaption class="figure-caption">(Screenshot: Advanced settings) </figcaption>
                            </figure>
                            <div class="desc text-left">
                                <h4><i class="fa fa-warning"></i>Warning: geek area! </h4>
                                <p>We know who you really are! Geeks! Thats why we created the most advanced settings in crawling history (w00t).</p>
                                <h4>Check out these options and enjoy:</h4>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-star"></i>Control the crawler: depth, max number of URLs, crawl rate (URLs by second)</li>
                                    <li><i class="fa fa-star"></i>Analyze only some sections of your website
                                        <ul>
                                            <li>Define a virtual Robots.txt just for Botify</li>
                                            <li>Include / exclude HTTP or HTTPS</li>
                                            <li>Activate crawling on no-follow links</li>
                                            <li>Blacklist subdomains or file types</li>
                                        </ul>
                                    </li>
                                    <li><i class="fa fa-star"></i>Activate or disable the analyses comparison feature</li>
                                    <li><i class="fa fa-star"></i>Manage a migration or the launch of a new website
                                        <ul>
                                            <li>Crawl a staging/pre-prod version of your website</li>
                                        </ul>
                                    </li>
                                    <li><i class="fa fa-star"></i>Monitor search engine's crawl as well as organic visits performance
                                        <ul>
                                            <li>Activate sitemaps analysis</li>
                                            <li>Import Google Analytics data into your analysis</li>
                                            <li>Add log files analysis to track URLs crawled/not crawled by Googlebot, Bing or Yandex (option available through our Botify Log Analyzer Premium offering)</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                    </div><!--//tab-content-->
                </div><!--//col-md-x-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-tabbed-->
    
    <!-- ******Emphasis Section****** --> 
    <section class="emphasis section">
        <div class="container">
            <h2 class="title text-center">Do you want a complete list of what you can do with Botify?</h2>
            <div class="text-center"><a class="btn btn-cta btn-cta-primary" href="#" id="show-features">Yes! Show me all the Features!</a></div>
            <table class="tg" id="features-table">
              <thead>
                  <tr>
                    <th class="tg-k9nl"></th>
                    <th class="tg-2mzw"></th>
                    <th class="tg-k9nl">Botify Analytics</th>
                    <th class="tg-k9nl">Botify Log<br>Analyzer Premium</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td class="tg-hgcj" rowspan="11">Site structure analysis</td>
                    <td class="tg-031e">Pages listed by depth (non-200 status / no index / 2XX / canonical different)</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Strategic versus not strategic URLs</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Pages listed by depth and by content type</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Index vs no-index distribution</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Protocol distribution (http / https)</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Content type distribution</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Lang distribution</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Domain / subdomain distribution</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Gzip / non gzip distribution</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Pre-prod version</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Scope advanced settings (virtual robots.txt)</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-k9nl" rowspan="8">SEO &amp; SMO visits performance</td>
                    <td class="tg-2mzw">Active / not active URLs</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Active URLs by depth</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Active URLs vs visits comparison (strategic URLs)</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Avg follow inlinks comparison by type of URL</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Follow inlinks percentiles for active pages &amp; visits</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Average load time comparison by type of URL</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Average depth comparison by type of URL</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Html tags perf comparison by type of URL</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-hgcj" rowspan="6">Loadtime performance</td>
                    <td class="tg-031e">Loadtime performance distribution</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Load time performance listed by http code family</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Load time performance listed by level of depth</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Average loadtime by lang</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Average loadtime by domains/ subdomains</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Average loadtime gzip vs non gzip</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-k9nl" rowspan="2">Http status code</td>
                    <td class="tg-2mzw">Http codes distribution</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Http code listed by level of depth</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-hgcj" rowspan="4">Html tags</td>
                    <td class="tg-031e">Html title tags duplicate</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">h1 title tags duplicate</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Metadesc title tags duplicate</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Canonicals distribution (equal / not equal)</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-k9nl" rowspan="4">inlinks</td>
                    <td class="tg-2mzw">Inlinks distribution (follow vs no follow)</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Follow inlinks distribution by percentile of URLs</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Average follow inlinks by http code or attribute</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Distribution of no follow inlinks (attribute inlinks, no meta)<br></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-hgcj" rowspan="5">Outlinks</td>
                    <td class="tg-031e">Outlinks distribution</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Top outlinked domains details (follow outlinks)</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">internal no-follow outlinks distribution</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Internal follow outlinks distribution to strategic or not strategic URLs</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Broken links destination distribution (http code)</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-k9nl" rowspan="9">sitemaps</td>
                    <td class="tg-2mzw">URLs not in sitemaps</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">URLs in sitemaps but not in project settings</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Sitemaps vs structure view by depth</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Http code distribution for URLs in sitemaps</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Internal follow outlinks distribution for URLs in sitemaps</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Html tags for urls in sitemaps</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Broken follow outlinks destination for URLs in sitemaps</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Load time distribution for URLs in sitemaps</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Inlinks</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-hgcj">Insights</td>
                    <td class="tg-031e">Main URLs patterns automated discovery</td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-k9nl">Plugin</td>
                    <td class="tg-2mzw">Display every botify indicators directly on your pages</td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-hgcj" rowspan="12">Log files analysis</td>
                    <td class="tg-031e">Daily search engines crawl overview (for google / yandex / bing)</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Search engines crawl ratio (actual number of URLs in the structure crawled)</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Not crawled urls by search engines</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Orphan URLs crawled by search engines</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Lost / recovered URLs</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">New content search engine discovery (for google yandex bing)</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Segmentation tool for every indicators of the log files analysis</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Warning search engines crawl</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Daily search engines crawl overview alerting</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">New  SEO organic visits</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">Bew SEO organic active pages</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-031e">SEO active pages ratio</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-k9nl">URL explorer</td>
                    <td class="tg-2mzw">Explore your URLs among +100 indicators</td>
                    <td class="tg-3wj2"></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-hgcj">URLs export</td>
                    <td class="tg-031e">Export and share every selected list if URLs</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-k9nl" rowspan="4">Partnerships program</td>
                    <td class="tg-2mzw">Hotline support</td>
                    <td class="tg-3wj2"></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Training consultant support</td>
                    <td class="tg-3wj2"></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Certification program</td>
                    <td class="tg-3wj2"></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-2mzw">Certification exam for agencies and consultants</td>
                    <td class="tg-3wj2"></td>
                    <td class="tg-3wj2"><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td class="tg-hgcj">Team feature</td>
                    <td class="tg-031e">Share your Botify account with anyone involved in your project</td>
                    <td class="tg-s6z2"></td>
                    <td class="tg-s6z2"><i class="fa fa-check"></i></td>
                  </tr>
              </tbody>
            </table>
        </div><!--//container-->        
    </section><!--//all features-->

    <!-- ******Steps Section****** --> 
    <section class="steps section">
        <div class="container">
            <h2 class="title text-center">3 Simple Steps to Get Started with Botify</h2>
            <div class="row">
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">1</span><br /><span class="text">SIGN UP FOR FREE</span></h3>
                     <p>No Credit Card Required. During <a href="/support/pricing-plans/#what-do-i-get-with-the-free-trial">your 30-day trial</a>, analyze up to 250K URLs, as many times as you want. It’s free, with all Botify features inside: <a href="/support/analysis-results-whats-my-report/">full-featured reports</a>, the <a href="/support/url-explorer-unlimited-answers-and-exports/">URL Explorer</a> and the <a href="/support/botify-chrome-plugin/">Botify Chrome plugin</a>.</p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">2</span><br /><span class="text">WE DO EVERYTHING FOR YOU</span></h3>
                     <p>We crawl your website, we crunch data, we track down problems. We generate your report with plenty of charts, we make all information searchable. No code lines. No IT guys. No desktop software limitations. As simple as that.</p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">3</span><br /><span class="text">START OPTIMIZING</span></h3>
                     <p>Access tons of SEO actionable data through a highly graphical report. Get all SEO indicators while browsing your website with the free <a href="/support/botify-chrome-plugin/">Botify Chrome plugin</a>. Not enough? Perform advanced searches with the <a href="/support/url-explorer-unlimited-answers-and-exports/">URL Explorer</a>, and generate custom exports.</p>
                 </div><!--//step-->
            </div><!--//row-->
            
            <div class="text-center"><a class="btn btn-cta btn-cta-primary" href="{{ signup_url }}">Get Started, It's Free!</a></div>
            
        </div><!--//container-->        
    </section><!--//steps-->
    
{% endblock %}
{% block footer_js %}
    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
    <script>
        $(document).ready(function() {
            if(window.location.hash == "#show-features") {
                $("#features-table").toggle();
            }

            $("#show-features").click(function(e){
                e.preventDefault();
                $("#features-table").toggle();
            });

            var offset = 0;
            if (window.matchMedia("(min-width: 990px)").matches) {
                offset = $('#header').height();
            }
            $('#features-table').stickyTableHeaders({fixedOffset: offset});
        });
    </script>
{% endblock %}
