{% set title = "Botify Team" %}
{% set description = "Meet Botify Team" %}
{% extends "website/includes/base.html" %}
{% block body_class %}team-page{% endblock %}
{% block content %}
   
    <div class="headline-bg team-headline-bg">
    </div><!--//headline-bg-->         
    
    <!-- ******Video Section****** --> 
    <section class="story-section section section-on-bg">
        <h2 class="title container text-center">Hello, we are Botify</h2>
        <div class="story-container container text-center"> 
            <div class="story-container-inner" >                    
                <div class="about">
                    <blockquote class="belife">
                      <p>About Botify,</p>
                      <p>
                      More than 3,500 SEO managers all over the world already trust Botify to analyze, optimize and monitor their website performance and increase their SEO traffic and revenue. Whether you're managing SEO for one of the largest website on planet earth, for your clients, or for a Fortune 500 company, Botify collects all actionable, reliable and fresh data that will drive your SEO strategy to top ranking results.</p>
                      <p>This is just a start!</p>
                      <p>We’re convinced that a better management of appropriate data will revolutionize SEO and webmarketing. We have tons of ideas and we’re building the best possible team to achieve this vision. Trust us, we won't stop there.</p> 
                    </blockquote>               
                </div><!--//about-->
                <div class="team row">
                    <h3 class="title">Meet the team</h3>

                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/jb.jpg") }}" alt="jb"/>
                                <figcaption class="info"><span class="name">Jean-Baptiste Barth</span><br /><span class="job-title">Sysadmin Devops</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://twitter.com/jbbarth"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/annabelle.jpg") }}" alt="Annabelle"/>
                                <figcaption class="info"><span class="name">Annabelle Bouard</span><br /><span class="job-title">Product Evangelist</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://twitter.com/nabotify"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/alexia.jpg") }}" alt="Alexia"/>
                                <figcaption class="info"><span class="name">Alexia Ceva</span><br /><span class="job-title">Sales Executive</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://twitter.com/alexeva9"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/stephane.jpg") }}" alt="Stéphane"/>
                                <figcaption class="info"><span class="name">Stéphane Chauvin</span><br /><span class="job-title">Architect</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://twitter.com/miloetmilo"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/nicolas.jpg") }}" alt="Nicolas"/>
                                <figcaption class="info"><span class="name">Nicolas Fortin</span><br /><span class="job-title">Frontend Developer</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://twitter.com/nicolas_for"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/nathalie.jpg") }}" alt="Nathalie"/>
                                <figcaption class="info"><span class="name">Nathalie Geoffrin</span><br /><span class="job-title">Chief Development Officer</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://twitter.com/ceranor"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/thomasgraham.jpg") }}" alt="Thomas"/>
                                <figcaption class="info"><span class="name">Thomas Graham</span><br /><span class="job-title">Sales Executive</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://twitter.com/botifyuk"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/thomas.jpg") }}" alt="Thomas"/>
                                <figcaption class="info">
                                    <span class="name">Thomas Grange</span>
                                    <br />
                                    <span class="job-title">CTO, Co-Founder</span>
                                    
                                </figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://twitter.com/mpelmann"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/han.jpg") }}" alt="Han"/>
                                <figcaption class="info"><span class="name">Han Ju</span><br /><span class="job-title">Research Engineer</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://twitter.com/juhanlol"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/alpha.jpg") }}" alt="Alpha"/>
                                <figcaption class="info"><span class="name">Alpha Keita</span><br /><span class="job-title">Training Manager &amp; Consultant</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="https://www.linkedin.com/pub/alpha-ke%C3%AFta/71/b50/91a"><i class="fa fa-linkedin"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/pablo.jpg") }}" alt="Pablo"/>
                                <figcaption class="info"><span class="name">Pablo Leano</span><br /><span class="job-title">Frontend Engineer</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://twitter.com/pablo_amnesiac"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/greg.jpg") }}" alt="Greg"/>
                                <figcaption class="info"><span class="name">Greg Leclerq</span><br /><span class="job-title">Lead Developer &amp; Architecture</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://twitter.com/ggregl"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/adrien.jpg") }}" alt="Adrien"/>
                                <figcaption class="info"><span class="name">Adrien Ménard</span><br /><span class="job-title">CEO, Partner</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="https://twitter.com/adrien_men"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->

                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/brice.jpg") }}" alt="Brice"/>
                                <figcaption class="info"><span class="name">Brice Tremblay</span><br /><span class="job-title">Financial Manager </span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://twitter.com/TremblayBrice"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/amine.jpg") }}" alt="Amine"/>
                                <figcaption class="info"><span class="name">Amine Yahia</span><br /><span class="job-title">Support Engineer</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="https://www.linkedin.com/pub/amine-yahia-hellali/9b/701/b51/en"><i class="fa fa-linkedin"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="{{ static("images/team/cow.jpg") }}" alt="Cow"/>
                                <figcaption class="info"><span class="name">Ricardo Alcalde</span><br /><span class="job-title">Sales Executive</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://twitter.com/RickAlcalde"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                </div><!--//team-->
            </div><!--//story-container--> 
        </div><!--//container-->
    </section><!--//story-video-->

    <!-- ******CTA Section****** -->
    <section id="cta-section" class="section cta-section text-center pricing-cta-section">
        <div class="container">
           <h2 class="title">Looking for a <span class="counting">new challenge</span> in a fast growing company with a multicultural environment and tons of idea?</h2>
           <p class="intro">We may have a job for you</p>
           <p><a class="btn btn-cta btn-cta-primary" href="/jobs/" target="_blank">Show me the opened positions</a></p>
        </div><!--//container-->
    </section><!--//cta-section-->

{% endblock %}
