{% extends "website/includes/base.html" %}
{% block title %}Log Analyzer by Botify{% endblock %}
{% block body_class %}log-analyzer-page{% endblock %}
{% block og_image %}{{ static("images/background/bla2.jpg") }}{% endblock %}
{% block content %}
    <div class="headline-bg bla-headline-bg">
    </div><!--//headline-bg-->         
    
    <section class="promo section section-on-bg">
        <div class="container text-center">                
            <h2 class="title">Botify Log Analyzer Premium</h2>
            <p class="intro">With Botify Log Analyzer, you get not only all the Botify features but also the secret of GoogleBot crawl</p>
            <p><a class="btn btn-cta btn-cta-primary" href="/contact/">Show me a demo now!</a></p>   
        </div><!--//container-->    
        <div class="container text-center invite-scroll-container">
            <a href="#begin-content" id="invite-scroll"><i class="fa fa-angle-down"></i></a>
        </div>
    </section><!--//promo-->
    <!-- ******Content Section****** -->       
    <section class="section why" id="begin-content">
        <div class="container">
            <div class="row item first-item">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title">Do you really know how Googlebot crawls your website?</h3>
                    <div class="desc">
                        <p><strong><i class="fa fa-star"></i>This is the SEO Manager's dilemma!</strong><br>Do you really know what Googlebot sees on your site? Botify's Log Analyzer finally tells you. With a few clicks, find out which pages of your site are actually crawled by Googlebot and which ones bring in SEO traffic. You'll finally know your crawl rate and active page rate, and you'll learn which pages need improvements in order to increase traffic and revenues.</p>
                        <p><strong><i class="fa fa-star"></i>Who should use the Botify Log Analyzer?</strong><br>Botify's Log analyzer is designed for the needs of SEO Managers who want to optimize their pages to make them visible to Googlebot, minimize navigation errors and increase SEO traffic.</p>
                    </div>                     
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <img class="img-responsive" src="{{ static("images/screens/globaloverview.jpg") }}" alt="Global Overview" />
                    <figcaption class="figure-caption">(Screenshot: Global Overview) </figcaption>
                </figure>
            </div><!--//item-->
            
            <div class="row item second-item">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <h3 class="title">Discover areas of your website not crawled by Googlebot</h3>
                    <div class="desc">
                        <p><strong><i class="fa fa-star"></i>Find out your crawl rate broken down by tag</strong><br>The crawled pages ratio is the number of pages Googlebot sees versus the total number of pages on your site. The information is displayed by type of URLs in Botify so that you can identify the categories that urgently require optimization for a higher crawled pages ratio.</p>
                        <p>For example, if the category that accounts for 50% of your SEO traffic represents only 30% of the Googlebot crawl volume, then 70% of the pages with the most active category aren't even seen by Googlebot! Achieving a 100% crawl rate should become an immediate priority...</p>
                    </div>                       
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <img class="img-responsive" src="{{ static("images/screens/areascrawled.jpg") }}" alt="Areas crawled" />
                    <figcaption class="figure-caption">(Screenshot: Areas Crawled) </figcaption>
                </figure>
            </div><!--//item-->
            
            <div class="row item third-item">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title">Control the crawl of your new content</h3>
                    <div class="desc">
                        <p><strong><i class="fa fa-star"></i>Find out which new pages Googlebot has found</strong><br>You've no doubt always wondered how long it takes for new pages to be found by Google, and Botify can tell you.</p>
                        <p>Every day, the application provides a list of the new pages found by Googlebot the previous day.</p>
                        <p>You can monitor and control what Google sees. And work out all the bugs, of course!</p>
                    </div>    
                </div>    
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <img class="img-responsive" src="{{ static("images/screens/alertingcrawl.jpg") }}" alt="Alerting Crawl Overview" />
                    <figcaption class="figure-caption">(Screenshot: Alerting Crawl Overview) </figcaption>
                </figure>
            </div><!--//item-->
            
            <div class="row item fourth-item">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <h3 class="title">Eliminate unuseful pages</h3>
                    <div class="desc">
                        <p><strong><i class="fa fa-star"></i>Find out which pages are not useful for SEO</strong><br>With Botify, you'll see the pages that are crawled every day and find out which ones may be ineffective or even harmful for your ranking.</p>
                        <p>Then you can take action to ensure that Google does not crawl pages that have no SEO value!</p>
                    </div>                          
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <img class="img-responsive" src="{{ static("images/screens/crawldistribution.jpg") }}" alt="Crawl Distribution" />
                    <figcaption class="figure-caption">(Screenshot: Crawl Distribution) </figcaption>
                </figure>
            </div><!--//item-->

            <div class="row item last-item">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title">Relink or block Orphan Pages crawled by Googlebot</h3>
                    <div class="desc">
                        <p><strong><i class="fa fa-star"></i>Find orphan pages that are crawled by Googlebot</strong><br>Orphan pages are pages crawled by Googlebot that are not linked to from within your site. Googlebot can continue to crawl them if they appear in sitemaps, if there are links to them from other websites, a 200 code, etc.</p>
                        <p>Botify will show you that the SEO performance of these pages is weaker than that of the other pages in your site.</p>
                    </div>    
                </div>    
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <img class="img-responsive" src="{{ static("images/screens/structure.jpg") }}" alt="Structure" />
                    <figcaption class="figure-caption">(Screenshot: Structure) </figcaption>
                </figure>
            </div><!--//item-->
        </div><!--//container-->
    </section><!--//content--> 

    <!-- ******Emphasis Section****** --> 
    <section class="emphasis section">
        <div class="container">
            <h2 class="title text-center">SEO is better when it's done with reliable and actionable data</h2>
            <div class="text-center">
                <a id="show-features" href="/contact/" class="btn btn-cta btn-cta-primary">Show me a demo now!</a>
            </div>
        </div><!--//container-->        
    </section><!--//emphasis-->
{% endblock %}
