@mixin brand() {
    font-family: 'Lobster Two', cursive;
    font-weight:bold;
    &:hover{
        text-decoration: none;
    }
    strong {
        @extend %white_header;
        font-size: 80px;
        line-height: 80px;
        position: relative;
        top: 10px;
        @include transition-property(top, color);
        @include transition-duration(1.5s);
    }
    span {
        font-size: 32px;
        @extend %black_header;
        position: relative;
        top: 0px;
        @include transition-property(top, color);
        @include transition-duration(1.5s);
    }
    a:hover{
        text-decoration: none;
        strong {
            top: 45px;
            @extend %black_header;

        }
        span {
            top: -70px;
            @extend %white_header;
        }
    }
}

@mixin post_header_links() {
    margin-top: 45px;
    a{
        font-size: 15px;
        margin-left: 8px;
        color: $header_brown;
    }
}
