@mixin brand() {
    font-family: 'Lobster Two', cursive;
    font-weight:bold;
    text-decoration: none;
    strong {
        @extend %white_header;
        display: block;
        font-size: 5.7em;
        line-height: 1;
        position: relative;
        top: 10px;
        @include transition-property(top, color);
        @include transition-duration(1.5s);
    }
    span {
        font-size: 2.25em;
        @extend %black_header;
        position: relative;
        top: 0px;
        @include transition-property(top, color);
        @include transition-duration(1.5s);
    }
    a:hover{
        text-decoration: none;
        strong {
            top: 45px;
            @extend %black_header;

        }
        span {
            top: -70px;
            @extend %white_header;
        }
    }
}


@mixin small_brand(){
    strong{
        font-size: 2.25em;
        display: inline;
        top: 0;
        @include transition-property(none);
        @include transition-duration(0);
        color: $header_brown;
        text-shadow: 1px 1px 0px $header_brown_shadow;
    }

    span{
        @include transition-property(none);
        @include transition-duration(0);
        color: $header_brown;
        text-shadow: 1px 1px 0px $header_brown_shadow;
    }

    a:hover{
        text-decoration: none;
        strong {
            top: 0;
            color: $header_brown;
            text-shadow: 1px 1px 0px $header_brown_shadow;
        }
        span {
            top: 0;
            color: $header_brown;
            text-shadow: 1px 1px 0px $header_brown_shadow;
        }
    }
}

@mixin xsmall_brand(){
    width: 100%;
    text-align: center;
}
