@mixin post_item() {
    margin-bottom: 20px;
    h1{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.3em;
        line-height: 1.23em;
        a{
            color: $main_dark;
        }

    }

    p{
        color: $main_dark;
    }

}
