@mixin post_item() {
    margin-bottom: 20px;
    h1{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.3em;
        line-height: 1.23em;
        margin-bottom: 5px;
    }

    a{
        color: $green_sea;
    }

    .post-item-data{
        margin-bottom: 10px;
        font-style: italic;
        a{
            font-style: normal;
            font-weight: bold;
        }
    }

    p{
        color: $main_dark;
    }

}
