<footer id="footer">
  <div class="container">
    <section class="row widgets">
      <div class="col-md-4 widget-box">
        <h4 class="title">Categories</h4>
        <ul>
          <li>
            <a href="{{ url('posts-list')}}">Posts</a>
          </li>
          <li>
            <a href="{{ url('projects-list')}}">Projects</a>
          </li>
        </ul>
      </div>
    </section>
    <div class="row" >
      <div class="col-md-12" >
        <div class="copyright">
          <p>
            Copyright Pablo Leano Martinet 2015
          </p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</footer>
