<nav id="main-menu" >
  <ul class="menu">
    <li class="home">
      <a href="{{ url('homepage')}}">Home</a>
    </li>
    <li class="posts">
      <a href="{{ url('posts-list')}}">Posts</a>
    </li>
    <li class="projects">
      <a href="{{ url('projects-list')}}">Projects</a>
    </li>
    <li class="about">
      <a href="{{ url('about-me') }}">About Me</a>
    </li>
  </ul>
</nav>
