<div id="sidebar" class="row">
  <div class="col-md-6 sidebar-box">
    <h3 class="title">Recent Posts</h3>
    <ul>
      {% for post in posts_list(limit=5) %}
        <li>
          <a href="{{ post.url }}">
            {{ post.data.POST_TITLE }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-6 sidebar-box">
    <h3 class="title">Projects</h3>
    <ul>
      {% for project in projects_list(limit=5) %}
        <li>
          <a href="{{ project.url }}">
            {{ project.data.POST_TITLE }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
