<div id="sidebar">
  <div class="sidebar-box">
    <h3 class="title">Recent Posts</h3>
    <ul>
      {% for post in posts_list(limit=3) %}
        <li>
          <a href="{{ post.link }}">
            {{ post.data.POST_TITLE }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
