<div id="sidebar">
  <div class="sidebar-box">
    <h3 class="title">Recent Posts</h3>
    <ul>
      <li>
        <a href="http://www.pabloleanomartinet.com/adding-custom-admin-pages-django/">Adding custom admin pages on django</a>
      </li>
      <li>
        <a href="http://www.pabloleanomartinet.com/coding-handwriting-own-font/">Coding with my own handwriting like a boss</a>
      </li>
      <li>
        <a href="http://www.pabloleanomartinet.com/comparing-django-symfony-spring-angularjs-seo-point-view/">Comparing Django, Symfony, Spring and AngularJS from a SEO point of view</a>
      </li>
      <li>
        <a href="http://www.pabloleanomartinet.com/video-player-manager/">Video Player Manager</a>
      </li>
      <li>
        <a href="http://www.pabloleanomartinet.com/js-css-workflow-using-bundler-bower-guard-in-django/">JS/CSS workflow using Bundler, Bower and Guard in a Django project</a>
      </li>
    </ul>
  </div>
</div>
