<div id="sidebar">
  <div class="sidebar-box">
    <h3 class="title">Recent Posts</h3>
    <ul>
      {% for post in posts_list() %}
        <li> {{ post }} </li>
      {% endfor %}
    </ul>
  </div>
</div>
