<footer id="footer">
  <div class="container">
    <div class="row" >
      <div class="col-md-12" >
        <b>Pablo Leano Martinet - 2015</b>
        <nav class="post-external-links pull-right">
          <a href="https://fr.linkedin.com/pub/juan-pablo-leano-martinet/4b/902/937" target="_blank" class="external">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://twitter.com/pablo_amnesiac" target="_blank" class="external">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="http://stackoverflow.com/users/361427/pleasedontbelong" target="_blank" class="external">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://github.com/pleasedontbelong" target="_blank" class="external">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</footer>
