<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"  prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <!-- Meta -->
    <link rel="shortcut icon" href="{{ static("images/logos/favicon-white-32x32.png") }}" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}Botify crawls your website to make you increase traffic and revenue with actionable, reliable and updated data.{% endblock %}">
    <meta name="author" content="">
    <meta property="og:image" content="{% block og_image %}{{ static("images/screens/adam-video.png") }}{% endblock %}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    {% block header_extra %}{% endblock %}
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% stylesheet 'main' %}
</head>

<body class="{% block body_class %}{% endblock %}">

    <!-- ******HEADER****** -->
    <header id="header" class="header">
        <div class="container">
            <h1 class="logo">
                <a href="/"><span class="text">Botify</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% block header_navbar %}
                        <li class="nav-item{% if current_page == "home" %} active{% endif %}"><a href="/">Home</a></li>
                        <li class="nav-item{% if current_page == "features" %} active{% endif %}"><a href="/features/">Features</a></li>
                        <li class="nav-item{% if current_page == "pricing" %} active{% endif %}"><a href="/pricing/">Pricing</a></li>
                        <li class="nav-item"><a href="/support/">Support</a></li>
                        <li class="nav-item"><a href="/blog/">Blog</a></li>
                        <li class="nav-item"><a href="https://app.botify.com/signin/">Log in</a></li>
                        <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="{{ signup_url }}">Free Sign Up</a></li>
                        {% endblock %}
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div><!--//container-->
    </header><!--//header-->

    {% block content %}{% endblock %}

    <!-- ******FOOTER****** -->
    {% include "website/includes/footer.html" %}

    <!-- Javascript -->
    {% javascript 'main' %}

    {% include "website/includes/tagging.html" %}

    {% block footer_js %}{% endblock %}

</body>
</html>
