body{
    background: url("../images/irongrip.png") repeat 0 0;
    > .container{
        background-color:rgba(2, 2, 2, 0.4);
    }
    #post-page-header{
        background: url(http://subtlepatterns.com/patterns/ricepaper2.png);
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }
    > footer{
        @include footer;
    }
    .right-sidebar{
        @include right_sidebar;
    }
}

.left-content{
    background: url("../images/crossword.png") repeat 0 0;
}

.brand{
    @include brand;
}

.post-header-top-links{
    @include post_header_links
}
