.homepage-page{
    .page{
        height: 100%;
        overflow: hidden;
        position: relative;
        h1{
            @extend %title-text;
            font-size: 5em;
        }
    }
    .intro{
        height: 100vh;
        background: $main_light url("/static/images/home_bg.jpg") no-repeat top center fixed;
        background-size: 100% auto;
        text-align: center;
        @include background-size("cover");
        img{
            margin-top: 30vh;
            border: 3px solid $main_light;
        }
        h1{
            @extend %title-text;
            font-size: 5em;
            color: #fff;
            background-color: $main_light;
            padding: 40px;
            position: absolute;
            bottom: 0;
            margin: 0;
            width: 100%;
        }
        #main-menu{
            width: 100%;
            position: absolute;
            top: 60px;
            @include buttons_menu(none);
            text-align: center;
        }
    }
    .affix{
        position: fixed !important;
        top: 0px !important;
        text-align: right;
        z-index: 100;
        ul{
            margin-top: 10px !important;
        }

    }
    .thumbs{
        padding: 0 40px;
        text-align: center;
        min-height: 100vh;
        background-color: $white;
        @include breakpoint($screen-md-min){
            .row{
                margin-top: 30vh;
            }    
        }
        i{
            font-size: 5em;
        }
        .posts i, .posts h2{
            color: $pumpkin;
        }
        .projects i, .projects h2{
            color: $orange;
        }
        .about i, .about h2{
            color: $amethyst;
        }
        h2{
            @extend %title-text;
        }

    }
    .features{
        padding: 40px;
        background-color: darken($white, 3%);
        .featurette{
            min-height: 400px;
            & > div:last-child{
                text-align: center;
            }
        }
    }
}
