.homepage-page{
    .page{
        height: 100vh;
        overflow: hidden;
        position: relative;
        h1{
            @extend %title-text;
            font-size: 5em;
        }
    }
    .intro{
        background-color: rgba(darken($main_dark, 15%), 1);
        text-align: center;
        img{
            margin-top: 30vh;
            border: 6px solid $main_dark;
        }
        h1{
            @extend %title-text;
            font-size: 5em;
            @extend %white_header;
            position: absolute;
            bottom: 20vh;
            width: 100%;
        }
        #main-menu{
            width: 100%;
            position: absolute;
            top: 20px;
            @include buttons_menu(none);
            text-align: center;
        }
    }
}
