.homepage-page{
    .page{
        height: 80vh;
    }
    .intro{
        background-color: rgba(darken($header_brown, 25%), 1);
        overflow: hidden;
        position: relative;
        text-align: center;
        img{
            margin-top: 20vh;
            border: 6px solid $header_brown;
        }
        h1{
            @extend %title-text;
            font-size: 5em;
            @extend %black_header;
            position: absolute;
            bottom: 10vh;
            width: 100%;
        }
        #main-menu{
            background-color: rgba($header_brown, 1);
            width: 100%;
            position: absolute;
            bottom: 0;
            @include main_menu_horizontal;
            text-align: center;
        }
    }
}
