.post-page{
    background: $main_dark;
    p, li{
        font-size: 1.5em;
        line-height: 1.5em
    }
    p.lead{
        font-size: 1.3em;
        color: $green_sea;
        font-weight: bold;
    }

    > .container{
        background-color: darken($main_dark, 15%);
    }

    > footer{
        @include footer;
    }

    .other-posts{
        @include other_posts;
    }

    #post-page-header{
        @include post_header;
    }

    .left-content{
        padding: 20px 40px;
        background-color: $white;
    }

    .brand{
        @include brand;
    }

    .post-date{
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 1.3em;
        text-align: right;
    }

    .post-external-links{
        @include post_external_links;
    }

    #main-menu{
        @include buttons_menu;
    }

    pre{
        @include code_highlight;
    }

    /* fix text style */
    article.post{
        max-width: 690px;
        float: none;
        margin: auto;

        h1{
            font-size: 42px;
            line-height: 62px;
            margin: 26px 0;
            font-weight: 900;
            color: #212121;
        }
        p, li{
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            letter-spacing: -0.05px;
            margin-top: 0;
            margin-bottom: 1rem;
            color: #757575;
        }
    }

    @media (max-width: $screen-md-min) {
        .brand{
            @include small_brand;
        }
        #post-page-header{
            @include small_post_header;
        }
        #main-menu{
            @include small_buttons_menu;
        }
    }
}
