{% extends "website/includes/base.html" %}
{% block title %}Botify Partners{% endblock %}
{% block body_class %}partners-page{% endblock %}
{% block header_navbar %}
<li class="nav-item nav-item-cta"><a class="btn btn-cta btn-cta-secondary" href="/contact/">Become Partner</a></li>
<li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="/partners/find-partner.html">Find a partner</a></li>
{% endblock %}
{% block content %}
   
    <div class="headline-bg partners-headline-bg">
    </div><!--//headline-bg-->         
    
    <section class="promo section section-on-bg">
        <div class="container text-center">                
            <h2 class="title">Let's be partners</h2>
            <p class="intro">Every SEO / Web Agency or Freelancer should get the most advanced &amp; SEO tools to deliver high-level consulting.</p>
            <p class="intro">Become a Botify Certified Partner and get the most of Botify</p>
            <p>
                <a class="btn btn-cta btn-cta-primary" href="/contact/">Let's be partners</a>
            </p>   
        </div><!--//container-->
        <div class="container text-center invite-scroll-container">
            <a href="#begin-content" id="invite-scroll"><i class="fa fa-angle-down"></i></a>
        </div>
    </section><!--//promo-->
    

    <!-- ******Content Section****** -->       
    <section class="section why" id="begin-content">
        <div class="container">
            <h2 class="title text-center">Become a Botify Certified Partner</h2>
            <p class="intro text-center">Botify doesn't provide consulting services, but our Partners do. We trust them 100%.</p>
            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title"><i class="fa fa-check"></i>Earn the Badge</h3>
                    <div class="desc">
                        <p>The Botify Certified Agency Badge means that we trust you, and your clients should too. It shows you know how SEO works, you master every Botify feature and your clients are happy.</p>
                    </div>                     
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <img class="img-responsive" src="{{ static("images/logos/badges.png") }}" alt="Badges" />
                    <figcaption class="figure-caption">Botify Certified Badges</figcaption>
                </figure>
            </div><!--//item-->
            
            <h2 class="title text-center">Stay ahead of the curve</h2>
            <p class="intro text-center">Joining the program is just the beginning. Discover all the advantages of being a Botify Certified Partner.</p>
            <div class="row item item-last">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <div class="desc">
                        <p><strong><i class="fa fa-check"></i>Exclusive resources and training</strong><br>Get access to new resources or training as soon as they are available. Benefit from Premium surveys published and reserved to Botify Certified Partners.</p>
                        <p><strong><i class="fa fa-check"></i>Access Beta Features</strong><br>Can't wait testing Botify new releases and Features? No problem. As a Botify Certified Partner, you can test every new feature before the Official release.</p>
                        <p><strong><i class="fa fa-check"></i>Save money</strong><br>We have special offers for you and your clients. Make your clients benefit from special licensing models and offers.</p>
                    </div>                       
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <img class="img-responsive" src="{{ static("images/screens/working.jpg") }}" alt="Working" />
                </figure>
            </div><!--//item-->

            <h2 class="title text-center">Getting started is simple</h2>
            <p class="intro text-center">Get in contact with the Botify Partners team and get instant access to our agency training program and support. Take the on-line test to earn the Botify Certified Partner badge. We’ll be there to help, every step of the way.</p>
            <p class="text-center"><a href="/contact/" class="btn btn-cta btn-cta-secondary btn-big">Let’s be partners</a></p>

        </div><!--//container-->
    </section><!--//content--> 

    <!-- ******Emphasis Section****** --> 
    <section class="emphasis section">
        <div class="container">
            <div class="text-center">
                <p>Looking for SEO consulting services from a Botify Certified Partner?</p>
                <p><a href="/contact/">Drop us a line</a>, we will help you.</p>
            </div>
        </div><!--//container-->        
    </section><!--//emphasis-->
{% endblock %}