@mixin buttons_menu($float: right) {
    ul {
        font-family: $fancy_font;
        font-size: 1.3em;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        float: $float;
        li {
            border: 2px solid $green_sea;
            padding: 10px 20px;
            display: inline-block;
            @include border-radius(30px);
            margin-left: 10px;
            a {
                color: $green_sea;
                display: block;
            }
            &:hover {
                border-color: $turquoise;
                a {
                    color: $turquoise;
                }
            }
            &.home{
                border-color: $turquoise !important;
                a{
                    color: $turquoise !important;
                }
            }
            &.posts{
                border-color: $pumpkin !important;
                a{
                    color: $pumpkin !important;
                }
            }
            &.projects{
                border-color: $orange !important;
                a{
                    color: $orange !important;
                }
            }
            &.about{
                border-color: $amethyst !important;
                a{
                    color: $amethyst !important;
                }
            }
        }
    }
}
