@mixin _main_menu() {
    ul {
        font-family: $fancy_font;
        font-size: 1.3em;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            background-color: $green_sea;
            display: block;
            a {
                color: $gray;
                display: block;
                &:hover {
                    color: $white;
                }
            }
            &:hover {
                background-color: $emerald;
            }
        }
    }
}
@mixin main_menu_vertical() {
    @include _main_menu;
    li{
        padding: 1.3em 0.5em;
        width: 50%;
        float: left;
        text-align: center;
        background-color: $main_dark !important;
        @include transition-property(all);
        @include transition-duration(0.8s);
        a{
            color: $white !important;
        }
        &:first-child{
            background-color: $turquoise !important;
        }
        &:nth-child(2){
            background-color: $pumpkin !important;
        }
        &:nth-child(3){
            background-color: $orange !important;
        }
        &:last-child{
            background-color: $amethyst !important;
        }
        &:hover{
            @include scale(1.2);
        }
    }
}

@mixin main_menu_horizontal(){
    @include _main_menu;
    ul {
        display: flex;
        position: relative;
        li {
            flex: 1 1 auto;
            text-align: center;
            @include transition-property(all);
            @include transition-duration(0.8s);
            a {
                padding: 1rem 0;
            }
            &:hover{
                @include scale(1.2);
            }
        }
    }
}

@mixin buttons_menu() {
    ul {
        font-family: $fancy_font;
        font-size: 1.3em;
        list-style: none;
        margin: 0;
        padding: 0;
        float: right;
        li {
            border: 2px solid $green_sea;
            padding: 10px 20px;
            display: inline-block;
            @include border-radius(30px);
            a {
                color: $green_sea;
                display: block;
                &:hover {
                    color: $white;
                }
            }
            &:hover {
                background-color: $emerald;
            }
        }
    }
}
