<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />

    {% block meta_block %}{% endblock %}

    {% block style %}
      {% stylesheet('default') %}
    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}" >
    {% block body_content %}{% endblock %}
    {% block javascript %}
      {% javascript('default') %}
    {% endblock %}
  </body>
</html>
