<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />

    {% block meta_block %}{% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% block style %}
      {% stylesheet('default') %}
    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}" >
    {% block body_content %}{% endblock %}
    {% block javascript %}
      {% javascript('default') %}
    {% endblock %}
    {% block extra_javascript %}{% endblock %}
  </body>
</html>
