<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />

    {% block meta_block %}{% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% block style %}
      {% stylesheet('post') %}
    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}" >
    <div class="container">
      <div class="row content">
        <div class="col-md-8" id="post-page-header">
          {% include "partials/brand.jinja2" %}
        </div>
        <div class="col-md-4">
          {% include "partials/main_menu.jinja2" %}
        </div>
        <div class="col-md-8 left-content">
          <article class="post col-md-12" >
            <div class="post-title">
              <h1 class="title">
                {% block post_title %}
                  {{ meta.POST_TITLE }}
                {% endblock %}
              </h1>
            </div>
            <div class="post-content">
              {% block post_date %}
                <div class="line"> <span> {{ meta.PUBLISHED_DATE }} {{ meta.AUTHOR }} </span> </div>
              {% endblock %}
              {% block post_content %}{% endblock %}
            </div>
          </article>
        </div>
        <div class="col-md-4 right-sidebar">
          {% include "partials/sidebar.jinja2" %}
        </div>
      </div>

    </div>
    {% block footer %}
      {% include "partials/footer.jinja2" %}
    {% endblock %}
    {% block javascript %}
      {% javascript('main') %}
    {% endblock %}
  </body>
</html>
