{% extends 'base.jinja2' %}

{% block body_class %}post-page{% endblock %}

{% block body_content %}
  <div class="container">
    <div class="row content">
      <div class="col-md-8" id="post-page-header">
        {% include "partials/brand.jinja2" %}
      </div>
      <div class="col-md-4">
        {% include "partials/main_menu.jinja2" %}
      </div>
      <div class="col-md-8 left-content">
        <article class="post col-md-12" >
          <div class="post-title">
            <h1 class="title">
              {% block post_title %}
                {{ meta.POST_TITLE }}
              {% endblock %}
            </h1>
          </div>
          <div class="post-content">
            {% block post_date %}
              <div class="line"> <span> {{ meta.PUBLISHED_DATE }} {{ meta.AUTHOR }} </span> </div>
            {% endblock %}
            {% block post_content %}{% endblock %}
          </div>
        </article>
      </div>
      <div class="col-md-4 right-sidebar">
        {% include "partials/sidebar.jinja2" %}
      </div>
    </div>

  </div>
  {% block footer %}
    {% include "partials/footer.jinja2" %}
  {% endblock %}
{% endblock %}
