<footer id="footer">
  <div class="container">
    <section class="row widgets">
      <div class="col-md-4 widget-box">
        <h4 class="title">Categories</h4>
        <ul>
          <li class="cat-item cat-item-2"><a href="http://www.pabloleanomartinet.com/category/posts/" >Posts</a> (8)</li>
          <li class="cat-item cat-item-15"><a href="http://www.pabloleanomartinet.com/category/project/" >Project</a> (2)</li>
        </ul>
      </div>
    </section>
    <div class="row" >
      <div class="col-md-12" >
        <div class="copyright">
          <p>
            Copyright Pablo Leano Martinet 2015
          </p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</footer>