<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="logo">
        <a href="http://www.pabloleanomartinet.com" title="Pablo Leano Martinet">
        Pablo Leano Martinet
        </a>
      </div>
      <nav id="mainmenu" >
        <ul id="menu-menu-1" class="menu">
          <li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70"><a href="http://www.pabloleanomartinet.com/">Home Page</a></li>
          <li id="menu-item-72" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-72"><a href="http://www.pabloleanomartinet.com/category/posts/">Posts</a></li>
          <li id="menu-item-73" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-73"><a href="http://www.pabloleanomartinet.com/category/project/">Projects</a></li>
          <li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="http://www.pabloleanomartinet.com/about-me/">About Me</a></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </div>
</div>