<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="A simple example of a js and css workflow. It uses tools like Bundler, Bower, Guard inside a django project that includes a pipeline"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />

<title>Yet another JS/CSS workflow using Bundle, Bower, Guard and Django</title>

<link rel="stylesheet" href="http://www.pabloleanomartinet.com/wp-content/themes/diarjo-lite/style.css" media="screen" />
<link rel='stylesheet' id='bootstrap.min-css'  href='http://www.pabloleanomartinet.com/wp-content/themes/diarjo-lite/css/bootstrap.min.css?ver=4.0.1' type='text/css' media='all' />


<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Yet another JS/CSS workflow using Bundle, Bower, Guard and Django" />
<meta property="og:description" content="A simple example of a js and css workflow. It uses tools like Bundler, Bower, Guard inside a django project that includes a pipeline" />
<meta property="og:url" content="http://www.pabloleanomartinet.com/js-css-workflow-using-bundler-bower-guard-in-django/" />
<meta property="og:site_name" content="Pablo Leano Martinet" />

<meta property="article:section" content="Posts" />
<meta property="article:published_time" content="2014-03-07T18:08:48+00:00" />