{% extends "website/includes/base.html" %}
{% set current_page = "pricing" %}
{% block title %}Botify | Pricing{% endblock %}
{% block body_class %}pricing-page{% endblock %}
{% block content %}

    <div class="headline-bg pricing-headline-bg">
    </div><!--//headline-bg-->

    <!-- ******Pricing Section****** -->
    <section class="pricing section section-on-bg" id="pricing-top">
        <div class="container-fluid">
            <h2 class="title text-center">30 day <span class="highlight">FREE</span> trial with all plans!</h2>
            <p class="intro text-center">Our pricing is simple. <br>And you can cancel or change your plan any time.</p>
 
        <div class="text-center">
            {#<div class="btn-group" id="currency-choice" data-toggle="buttons" role="prices">
              <button type="button" class="btn btn-default active" data-currency="EUR">€</button>
              <button type="button" class="btn btn-default" data-currency="USD">$</button>
              <button type="button" class="btn btn-default" data-currency="GBP">£</button>
            </div> #}

            <div class="btn-group" data-toggle="buttons" id="currency-choice">

              <label class="btn btn-default">
                <input type="radio" name="currency" data-currency="EUR" autocomplete="off" checked/> &euro;
              </label>
              <label class="btn btn-default active">
                <input type="radio" name="currency" data-currency="USD" autocomplete="off"/> $
              </label>
              <label class="btn btn-default">
                <input type="radio" name="currency" data-currency="GBP" autocomplete="off"/> &pound;
              </label>
            </div>

        </div>

             <div class="price-cols row">
                <div class="items-wrapper">

                    <div class="item price-1 col-md-15 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title"><small>Botify Analytics</small> Expert</h3>
                                <p class="free-trial-info"><span>30-day free trial</span>, then</p>
                                <p class="price-figure">
                                    <span class="price-figure-inner monthly">
                                        <span class="currency">€</span>
                                        <span class="number"></span><br />
                                        <span class="unit"> per month</span>
                                    </span>
                                </p>
                            </div>
                            <div class="content">
                                <a class="btn btn-cta btn-cta-primary" href="https://app.botify.com/signup/">Get started</a>
                                <br><br>
                                <ul class="list-unstyled feature-list">
                                    <li><strong>100,000 URLs</strong> per month</li>
                                    <li><strong>10 Projects</strong> Yours &amp; Competitors'</li>
                                </ul>
                                <h4>Features</h4>
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Crawler &amp; Google Analytics </li>
                                    <li><i class="fa fa-check"></i>Website Structure Analysis</li>
                                    <li><i class="fa fa-check"></i>Full Report &amp; URL Explorer</li>
                                    <li><i class="fa fa-check"></i>Browser Plugin</li>
                                    <li class="disabled"><i class="fa fa-times"></i>Log Files  Analysis</li>
                                </ul>
                                <h4>Customer Success</h4>
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Team Feature &amp; Online Support</li>
                                    <li><i class="fa fa-check"></i>On-line Certification Program</li>
                                    <li class="disabled"><i class="fa fa-times"></i>Advanced Segmentation Tools</li>
                                    <li class="disabled"><i class="fa fa-times"></i>Dedicated Training Team</li>
                                </ul>
                                
                                <div><b>Go annual & save 20%</b></div>
                                <p class="price-figure">
                                    
                                    <span class="price-figure-inner yearly">
                                        <span class="currency">€</span>
                                        <span class="number"></span><br />
                                        <span class="unit">per year (you save € 374)</span>
                                    </span>
                                </p>
                                <br>
                                <a class="btn btn-cta btn-cta-primary" href="https://app.botify.com/signup/">Get started</a>

                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item-->

                    <div class="item price-2 col-md-15 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title"><small>Botify Analytics</small> Pro</h3>
                                <p class="free-trial-info"><span>30-day free trial</span>, then</p>
                                <p class="price-figure">
                                    <span class="price-figure-inner monthly">
                                        <span class="currency">€</span>
                                        <span class="number"></span><br />
                                        <span class="unit"> per month</span>
                                    </span>
                                </p>
                            </div>
                            <div class="content">
                                <a class="btn btn-cta btn-cta-primary" href="https://app.botify.com/signup/">Get started</a>
                                <br><br>
                                <ul class="list-unstyled feature-list">
                                    <li><strong>750,000 URLs</strong> per month</li>
                                    <li><strong>20 Projects</strong> Yours &amp; Competitors'</li>
                                </ul>
                                <h4>Features</h4>
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Crawler &amp; Google Analytics </li>
                                    <li><i class="fa fa-check"></i>Website Structure Analysis</li>
                                    <li><i class="fa fa-check"></i>Full Report &amp; URL Explorer</li>
                                    <li><i class="fa fa-check"></i>Browser Plugin</li>
                                    <li class="disabled"><i class="fa fa-times"></i>Log Files  Analysis</li>
                                </ul>
                                <h4>Customer Success</h4>
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Team Feature &amp; Online Support</li>
                                    <li><i class="fa fa-check"></i>On-line Certification Program</li>
                                    <li class="disabled"><i class="fa fa-times"></i>Advanced Segmentation Tools</li>
                                    <li class="disabled"><i class="fa fa-times"></i>Dedicated Training Team</li>
                                </ul>
                                <div><b>Go annual & save 20%</b></div>
                                <p class="price-figure">
                                    
                                    <span class="price-figure-inner yearly">
                                        <span class="currency">€</span>
                                        <span class="number"></span><br />
                                        <span class="unit">per year (you save € 374)</span>
                                    </span>
                                </p>
                                <br>
                                <a class="btn btn-cta btn-cta-primary" href="https://app.botify.com/signup/">Get started</a>
                            </div><!--//content-->
                            <!--<div class="ribbon">
                                <div class="text">Popular</div>
                            </div>//ribbon-->
                        </div><!--//item-inner-->
                    </div><!--//item-->

                    <div class="item price-3 col-md-15 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title"><small>Botify Analytics</small> Champion</h3>
                                <p class="free-trial-info"><span>30-day free trial</span>, then</p>
                                <p class="price-figure">
                                    <span class="price-figure-inner monthly">
                                        <span class="currency">€</span>
                                        <span class="number"></span><br />
                                        <span class="unit"> per month</span>
                                    </span>
                                </p>
                            </div>
                            <div class="content">
                                <a class="btn btn-cta btn-cta-primary" href="https://app.botify.com/signup/">Get started</a>
                                <br><br>
                                <ul class="list-unstyled feature-list">
                                    <li><strong>2,000,000 URLs</strong> per month</li>
                                    <li><strong>30 Projects</strong> Yours &amp; Competitors'</li>
                                </ul>
                                <h4>Features</h4>
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Crawler &amp; Google Analytics </li>
                                    <li><i class="fa fa-check"></i>Website Structure Analysis</li>
                                    <li><i class="fa fa-check"></i>Full Report &amp; URL Explorer</li>
                                    <li><i class="fa fa-check"></i>Browser Plugin</li>
                                    <li class="disabled"><i class="fa fa-times"></i>Log Files  Analysis</li>
                                </ul>
                                <h4>Customer Success</h4>
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Team Feature &amp; Online Support</li>
                                    <li><i class="fa fa-check"></i>On-line Certification Program</li>
                                    <li class="disabled"><i class="fa fa-times"></i>Advanced Segmentation Tools</li>
                                    <li class="disabled"><i class="fa fa-times"></i>Dedicated Training Team</li>
                                </ul>
                                <div><b>Go annual & save 20%</b></div>
                                <p class="price-figure">
                                    
                                    <span class="price-figure-inner yearly">
                                        <span class="currency">€</span>
                                        <span class="number"></span><br />
                                        <span class="unit">per year (you save € 374)</span>
                                    </span>
                                </p>
                                <br>
                                <a class="btn btn-cta btn-cta-primary" href="https://app.botify.com/signup/">Get started</a>
                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item-->

                    <div class="item price-4 col-md-15 col-sm-6 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title"><small>Botify Analytics</small> Genius</h3>
                                <p class="free-trial-info"><span>30-day free trial</span>, then</p>
                                <p class="price-figure">
                                    <span class="price-figure-inner monthly">
                                        <span class="currency">€</span>
                                        <span class="number"></span><br />
                                        <span class="unit"> per month</span>
                                    </span>
                                </p>
                            </div>
                            <div class="content">
                                <a class="btn btn-cta btn-cta-primary" href="https://app.botify.com/signup/">Get started</a>
                                <br><br>
                                <ul class="list-unstyled feature-list">
                                    <li><strong>5,000,000 URLs</strong> per month</li>
                                    <li><strong>40 Projects</strong> Yours &amp; Competitors'</li>
                                </ul>
                                <h4>Features</h4>
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Crawler &amp; Google Analytics </li>
                                    <li><i class="fa fa-check"></i>Website Structure Analysis</li>
                                    <li><i class="fa fa-check"></i>Full Report &amp; URL Explorer</li>
                                    <li><i class="fa fa-check"></i>Browser Plugin</li>
                                    <li class="disabled"><i class="fa fa-times"></i>Log Files  Analysis</li>
                                </ul>
                                <h4>Customer Success</h4>
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Team Feature &amp; Online Support</li>
                                    <li><i class="fa fa-check"></i>On-line Certification Program</li>
                                    <li class="disabled"><i class="fa fa-times"></i>Advanced Segmentation Tools</li>
                                    <li class="disabled"><i class="fa fa-times"></i>Dedicated Training Team</li>
                                </ul>
                                <div><b>Go annual & save 20%</b></div>
                                <p class="price-figure">
                                    
                                    <span class="price-figure-inner yearly">
                                        <span class="currency">€</span>
                                        <span class="number"></span><br />
                                        <span class="unit">per year (you save € 374)</span>
                                    </span>
                                </p>
                                <br>
                                <a class="btn btn-cta btn-cta-primary" href="https://app.botify.com/signup/">Get started</a>
                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item-->

                    <div class="item price-5 col-md-15 col-sm-6 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title"><small>Botify Log Analyzer</small> Premium</h3>
                                <p class="free-trial-info">Get a demo</p>
                                <p class="price-figure">
                                    <strong class="phone"><b>UK</b> {{ phone_uk }}<br><b>FR</b> {{ phone_fr }}</strong>
                                </p>
                            </div>
                            <div class="content">
                                <a class="btn btn-cta btn-cta-primary" href="/contact/">Schedule a demo</a>
                                <br><br>
                                <ul class="list-unstyled feature-list">
                                    <li><strong>Unlimited volume</strong></li>
                                </ul>
                                <h4>Features</h4>
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Crawler &amp; Google Analytics </li>
                                    <li><i class="fa fa-check"></i>Website Structure Analysis</li>
                                    <li><i class="fa fa-check"></i>Full Report &amp; URL Explorer</li>
                                    <li><i class="fa fa-check"></i>Browser Plugin</li>
                                    <li><i class="fa fa-check"></i>Log Files  Analysis</li>
                                </ul>
                                <h4>Customer Success</h4>
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Team Feature &amp; Online Support</li>
                                    <li><i class="fa fa-check"></i>On-line Certification Program</li>
                                    <li><i class="fa fa-check"></i>Advanced Segmentation Tools</li>
                                    <li><i class="fa fa-check"></i>Dedicated Training Team</li>
                                </ul>
                                <br>
                                <a class="btn btn-cta btn-cta-primary" href="/contact/">Schedule a demo</a>
                                <br><br>
                                <div><b>Go annual & save</b></div>
                                <div>20% of yearly billing</div>
                                <br><br>

                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//items-wrapper-->
            </div><!--//row-->
        </div><!--//container-->

        <p class="text-center"><a href="/features/#show-features">Show me all the features</a></p>
    </section><!--//pricing-->
    <section class="questions">
        <h2 class="title text-center">Questions? Call us any time</h2>
        <p class="text-center lead">
            <b>UK</b>  {{ phone_uk }}<br/>
            <b>France</b> {{ phone_fr }}
            </p>

    </section>
    <!-- ******FAQ Section****** -->
    <section class="faq section has-bg-color">
        <div class="container">
            <h2 class="title text-center">Frequently Asked Questions</h2>
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-plus-square"></i>How long does my subscription last?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq1">
                            <div class="panel-body">
                                Subscribing to Botify requires a one-month commitment. You can upgrade, downgrade or delete plans at any time.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i>Can I buy a year's subscription for a reduced rate?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body">
                                Yes, and it's very easy. You get a 20% discount if you subscribe and pay for a whole year. You can pay by bank/credit card, wire transfer or paper check, whichever's easiest for you.

                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i>What payment methods and currencies do you accept?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq4">
                            <div class="panel-body">
                                We currently accept payment by bank/credit card and wire transfer (only for advance payments). We plan to accept PayPal by the end of the semester. You can pay in euros, US dollars and pounds sterling. If you have payment-related questions, don't hesitate to use our <a href="/contact/">contact form</a>.
                            </div>
                        </div>
                    </div><!--//panel-->


                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq7"><i class="fa fa-plus-square"></i>How do I make a payment by wire transfer?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq7">
                            <div class="panel-body">
                                It's very easy and very fast. The sales team will send you a pro-forma invoice and our bank information. Your account is activated once the payment has been made. Please contact our sales team through our <a href="/contact/">contact form</a>.
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
            </div><!--//row-->
            <div class="contact-lead text-center">
                <h4 class="title">More questions?</h4>
                <p class="text-center">Access our <a href="/support/pricing-plans/">Support Pages</a>, or</p>
                <a class="btn btn-cta btn-cta-secondary" href="/contact/">Contact us</a>
            </div>
        </div><!--//container-->
    </section><!--//faq-->

    <!-- ******CTA Section****** -->
    <section id="cta-section" class="section cta-section text-center pricing-cta-section">
        <div class="container">
           <h2 class="title">Ready to <span class="counting">boost your traffic and revenue</span> with great actionable data?</h2>
           <p class="intro">More than 3,500 users are optimizing their website with Botify</p>
           <p><a class="btn btn-cta btn-cta-primary" href="{{ signup_url }}" target="_blank">Start Your Free Trial Now</a></p>
        </div><!--//container-->
    </section><!--//cta-section-->
{% endblock %}

{% block footer_js %}
<script type="text/javascript">
$(function() {
    var monthly_prices = {
        'EUR': [39, 169, 249, 419],
        'USD': [49, 229, 339, 569],
        'GBP': [29, 149, 219, 359]
    };
    var yearly_prices = {
        'EUR': [374, 1622, 2390, 4022],
        'USD': [470, 2198, 3254, 5462],
        'GBP': [278, 1430, 2102, 3446]
    };

    var symbols = {
        'EUR': '€',
        'USD': '$',
        'GBP': '£'
    };

    var saving = function(yearly_price, monthly_price) {
        return 12 * monthly_price - yearly_price;
    }


    /**
    * Number.prototype.format(n, x)
    * 
    * @param integer n: length of decimal
    * @param integer x: length of sections
    */
    Number.prototype.format = function(n, x) {
        var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
        return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
    };

    changePlan = function(currency)  {
        $(".price-figure-inner .currency").html(symbols[currency]);
        $(".price-figure-inner.monthly").each(function(index) {
            $(this).children('.number').html(monthly_prices[currency][index].format())
        });
        $(".price-figure-inner.yearly").each(function(index) {
            $(this).children('.number').html(yearly_prices[currency][index].format())
        });
        $(".price-figure-inner.yearly").each(function(index) {
            $(this).children('.unit').html("per year (you save "+ symbols[currency] + saving(yearly_prices[currency][index], monthly_prices[currency][index]).format() + ")");
        });
        
    };

    $("#currency-choice input").change(function() {
        changePlan($(this).data('currency'));
    });
    changePlan('USD');
});

</script>
{% endblock %}
