{% extends 'post.jinja2' %}
{% block post_content %}
  <h2>The experiment</h2>
  <p>
    Today I was testing this site <a href="http://www.myscriptfont.com/" target="blank">www.myscriptfont.com/</a> that allows you<br />
    to create your own font based on your own handwriting. The first attempt was awful, because my pen wasn&#8217;t tick<br />
    enough and the scan had some problems and the scanned image was tilted. My second attempt however was much better,<br />
    even if I had to retouch the scanned image a little bit (I used Pixlr to do that). Then I only needed to install my<br />
    font and use it on sublime text, this was the result
  </p>
  <p class="text-center">
    <a href="http://d3f79bc9m1q83t.cloudfront.net/customfont/screenshot.png" target="_blank"><br />
      <img width="100%" src="http://d3f79bc9m1q83t.cloudfront.net/customfont/screenshot.png" alt="custom font on sublimetext"><br />
    </a>
  </p>
<h2 class="text-center text-success">IT ROCKS!!!!</p>
<h2>The downside</h2>
<p>
  You have to be careful when writing and there are no guidelines on their template. Besides, the watermarks with the<br />
  letters were italics and that influenced my handwriting. But the biggest problem is the lack of the underscore char,<br />
  and I can&#8217;t code without it&#8230; Too bad&#8230; It looks nice though
</p>
<p class="text-center">
  <a href="http://d3f79bc9m1q83t.cloudfront.net/customfont/Pablito.ttf" class="btn btn-success">Download my font to try it</a>
</p>
{% endblock %}
