{% extends 'post.jinja2' %}
{% block post_content %}
  <p>A friend that I have, works with google adwords and oftenly he needs to check a list of urls to verify the Http status code of a list of urls. To verify that he&#8217;s not paying for a campaign that contain 404 pages.</p>
  <p>So I took a weekend and build a simple site using Django and Celery. A simple three-page-website that uses an asynchronous task (in celery) to get the http status code of every page.</p>
  <p>The code is open source in a <a title="github http code responses" href="https://github.com/pleasedontbelong/http_code_responses">github repository</a> that you can fork, modify, create an issue, etc.</p>
  <h2 style="text-align: center; padding: 20px; text-decoration: underline;"><a title="Http status code checker" href="http://response.pabloleanomartinet.com" target="_blank">response.pabloleanomartinet.com</a></h2>
  <p>For now I set a limit of 300 urls, so it wont crash the server. The requests are sent one by one and it will use a normal user-agent. I&#8217;m working on a functionality that will allow you to add your custom user agent or a custom header on the request</p>
  <p>Hope this helps someone.</p>
{% endblock %}
