{% extends 'base_post.jinja2' %}
{% block post_content %}
  <p>Whenever I see a video tutorial I experience the same problem. How many time you had to back and forth, back and forth, trying to seek the part of the video you are interested in? Or if you are a developer sometimes you have to pause the video and copy the code on the screen to test it.</p>
  <p>Hopefully this code will help people adding some indexes to videos. Besides, the implementation is free so it could have multiple uses.</p>
  <p>The github here: <a href="https://github.com/pleasedontbelong/videoplayermanager">https://github.com/pleasedontbelong/videoplayermanager</a></p>
  <p>A basic example here:<a href="http://vpm.labs.pabloleanomartinet.com/example/basic/">http://vpm.labs.pabloleanomartinet.com/example/basic/</a></p>
  <div class="addtoany_share_save_container addtoany_content_bottom"><div class="a2a_kit a2a_kit_size_32 addtoany_list a2a_target" id="wpa2a_1"><a class="a2a_button_facebook" href="http://www.addtoany.com/add_to/facebook?linkurl=http%3A%2F%2Fwww.pabloleanomartinet.com%2Fvideo-player-manager%2F&amp;linkname=Video%20Player%20Manager" title="Facebook" rel="nofollow" target="_blank"></a><a class="a2a_button_twitter" href="http://www.addtoany.com/add_to/twitter?linkurl=http%3A%2F%2Fwww.pabloleanomartinet.com%2Fvideo-player-manager%2F&amp;linkname=Video%20Player%20Manager" title="Twitter" rel="nofollow" target="_blank"></a><a class="a2a_button_google_plus" href="http://www.addtoany.com/add_to/google_plus?linkurl=http%3A%2F%2Fwww.pabloleanomartinet.com%2Fvideo-player-manager%2F&amp;linkname=Video%20Player%20Manager" title="Google+" rel="nofollow" target="_blank"></a><a class="a2a_dd addtoany_share_save" href="https://www.addtoany.com/share_save"></a>
  <script type="text/javascript"><!--
  wpa2a.script_load();
  //--></script>
</div></div>
{% endblock %}
