{% extends 'post.jinja2' %}
{% block post_content %}
  <p>Whenever I see a video tutorial I experience the same problem. How many time you had to back and forth, back and forth, trying to seek the part of the video you are interested in? Or if you are a developer sometimes you have to pause the video and copy the code on the screen to test it.</p>
  <p>Hopefully this code will help people adding some indexes to videos. Besides, the implementation is free so it could have multiple uses.</p>
  <p>The github here: <a href="https://github.com/pleasedontbelong/videoplayermanager">https://github.com/pleasedontbelong/videoplayermanager</a></p>
  <p>A basic example here:<a href="http://vpm.labs.pabloleanomartinet.com/example/basic/">http://vpm.labs.pabloleanomartinet.com/example/basic/</a></p>
{% endblock %}
