@mixin post_header(){
    background: url(../images/ricepaper2.png);
    border-bottom: 1px solid #ccc;
    padding: 0 60px 20px;
}

@mixin post_external_links() {
    a{
        font-size: 1em;
        margin-left: 8px;
        color: $green_sea;
    }
}

@mixin small_post_header(){
    padding-bottom: 5px;
}
