@mixin post_header(){
    background: url(../images/ricepaper2.png);
    border-bottom: 1px solid #ccc;
    padding: 0 60px 20px;
}

@mixin post_external_links() {
    margin-top: 45px;
    a{
        font-size: 1em;
        margin-left: 8px;
        color: $main_dark;
    }
}

@mixin small_post_external_links() {
    margin-top: 5px;
}

@mixin small_post_header(){
    padding-bottom: 5px;
}

@mixin xsmall_post_external_links() {
    float: none !important;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    margin-top: 0;
}
