{% extends 'base_page.jinja2' %}

{% block page_content %}
  <header class="clearfix">
    <h1><i class="fa fa-newspaper-o"></i> About Me</h1>
  </header>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <article class="post-item">
          <p>I'm sorry, I'm still working on this page.</p>
      </article>
    </div>
  </div>
{% endblock %}
