{% extends 'base.jinja2' %}

{% block body_class %}homepage-page{% endblock %}

{% block body_content %}

  <div class="page intro">
    <img src="http://www.gravatar.com/avatar/fe876b7f3f32966ceb8b4977feded6a7?s=200" class="img-circle"/>
    <h1>Pablo Leano Martinet</h1>
    <nav id="main-menu" >
      <ul class="menu">
        <li>
          <a href="{{ url('posts-list')}}">Posts</a>
        </li>
        <li>
          <a href="http://www.pabloleanomartinet.com/category/project/">Projects</a>
        </li>
        <li>
          <a href="http://www.pabloleanomartinet.com/about-me/">About Me</a>
        </li>
      </ul>
    </nav>
  </div>
  {# <div class="page content-page">
    <div class="row">
      <div class="col-md-6">
        <h1>Posts <i class="fa fa-newspaper-o"></i></h1>
      </div>
      <div class="col-md-6">
        <p>This is just a simple text</p>
      </div>
    </div>
  </div> #}
{% endblock %}
