{% extends 'base_page.jinja2' %}

{% block page_content %}
  <header class="clearfix">
    <h1><i class="fa fa-newspaper-o"></i> Posts</h1>
  </header>
  <div class="row">
  {% for post in posts_list() %}
    <div class="col-md-8 col-md-offset-2">
      <article class="post-item">
          <h1>
            <a href="{{ post.url }}">{{ post.data.POST_TITLE }}</a>
            <small><a href="{{ post.url }}#disqus_thread">Comments</a></small>
          </h1>
          <p>{{ post.data.POST_DESCRIPTION }}</p>
      </article>
    </div>
  {% endfor %}
  </div>
{% endblock %}

{% block extra_javascript %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'pleasedontbelong';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endblock %}
