{% extends 'base_page.jinja2' %}

{% block body_class %}post-page posts-list{% endblock %}

{% block page_content %}
  <header class="main-title">
    <h1><i class="fa fa-wrench"></i> Projects</h1>
  </header>
  <div class="row">
  {% for post in projects_list() %}
    {% include "partials/post_list_item.jinja2" %}
  {% endfor %}
  </div>
{% endblock %}

{% block extra_javascript %}
{{ super() }}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'pleasedontbelong';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endblock %}
